In [4]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [5]:
import os
os.chdir("../raw data")

In [6]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [7]:
# importing the census data

migration = pd.read_excel("US_county_migration.xlsx")

In [8]:
migration.head()

    stname  stfips         ctyname  ctyfips  fips  outmig  inmig
0  Alabama       1  Autauga County        1  1001    5320   3779
1  Alabama       1  Baldwin County        3  1003    6721   8913
2  Alabama       1  Barbour County        5  1005    1295    991
3  Alabama       1     Bibb County        7  1007    1429   1654
4  Alabama       1   Blount County        9  1009    3335   1715

In [9]:
fips["outmig"] = ""
fips["inmig"] = ""
fips.head()

   stfips   stname ctyfips         ctyname  fips outmig inmig
0       1  Alabama       0               0     0
1       1  Alabama       1  Autauga County  1001
2       1  Alabama       3  Baldwin County  1003
3       1  Alabama       5  Barbour County  1005
4       1  Alabama       7     Bibb County  1007

In [10]:
def row_loc_county(inp):
    location = fips.index[(fips['fips']) == inp].values
    location = location.tolist()
    return location

In [11]:
for i in range(migration.shape[0]):
    fips.iloc[row_loc_county(migration.iloc[i, 4]), 5] = migration.iloc[i, 5]
    fips.iloc[row_loc_county(migration.iloc[i, 4]), 6] = migration.iloc[i, 6]

In [12]:
migration.head()

    stname  stfips         ctyname  ctyfips  fips  outmig  inmig
0  Alabama       1  Autauga County        1  1001    5320   3779
1  Alabama       1  Baldwin County        3  1003    6721   8913
2  Alabama       1  Barbour County        5  1005    1295    991
3  Alabama       1     Bibb County        7  1007    1429   1654
4  Alabama       1   Blount County        9  1009    3335   1715

In [13]:
migration.tail()

       stname  stfips            ctyname  ctyfips   fips  outmig  inmig
3135  Wyoming      56  Sweetwater County       37  56037    3134   2681
3136  Wyoming      56       Teton County       39  56039    2029   1781
3137  Wyoming      56       Uinta County       41  56041    1077   1166
3138  Wyoming      56    Washakie County       43  56043     413    381
3139  Wyoming      56      Weston County       45  56045     456    539

In [14]:
fips.head()

   stfips   stname ctyfips         ctyname  fips outmig inmig
0       1  Alabama       0               0     0
1       1  Alabama       1  Autauga County  1001   5320  3779
2       1  Alabama       3  Baldwin County  1003   6721  8913
3       1  Alabama       5  Barbour County  1005   1295   991
4       1  Alabama       7     Bibb County  1007   1429  1654

In [15]:
os.chdir("../data")

In [16]:
fips.to_csv("census_migration.csv")