# Confirmed Cases and Deaths Code
### Latest update on 5/11/2022

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

## FIPS code

In [2]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("~/Documents/ra/HPC/HPC_datahub/Raw data/fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips = fips.reset_index()
fips = fips.iloc[0:3142, 1:]

# inspect the object
fips

      stfips   stname ctyfips            ctyname   fips
0          1  Alabama       1     Autauga County   1001
1          1  Alabama       3     Baldwin County   1003
2          1  Alabama       5     Barbour County   1005
3          1  Alabama       7        Bibb County   1007
4          1  Alabama       9      Blount County   1009
...      ...      ...     ...                ...    ...
3137      56  Wyoming      37  Sweetwater County  56037
3138      56  Wyoming      39       Teton County  56039
3139      56  Wyoming      41       Uinta County  56041
3140      56  Wyoming      43    Washakie County  56043
3141      56  Wyoming      45      Weston County  56045

[3142 rows x 5 columns]

# Part I: County-Level Data and Dictionary

## Step 1: Update county-level data from CSSE

In [3]:
cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
cases.drop(cases.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10]], axis=1, inplace=True)

cases.rename(columns={"FIPS":"fips"}, inplace=True)

for col in cases.columns[1:]:
    cases.rename(columns={col: "confirmed_cases_" + datetime.strptime(col, "%m/%d/%y").strftime('%Y%m%d')}, inplace=True)

cases = pd.merge(fips, cases, on="fips", how="left")
#cases

In [4]:
deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv")
deaths.drop(deaths.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10, 11]], axis=1, inplace=True)

deaths.rename(columns={"FIPS":"fips"}, inplace=True)

for col in deaths.columns[1:]:
    deaths.rename(columns={col: "deaths_" + datetime.strptime(col, "%m/%d/%y").strftime('%Y%m%d')}, inplace=True)

deaths = pd.merge(fips, deaths, on="fips", how="left")
#deaths

In [5]:
deaths = deaths.iloc[:, 5:]
csse = pd.concat([cases, deaths], axis=1)

In [6]:
# rename 'fips' column to 'scfips' to clarify it's state-county FIPS
csse.rename(columns = {'fips': 'scfips'}, inplace = True)
csse

,stfips,stname,ctyfips,ctyname,scfips,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,confirmed_cases_20200125,confirmed_cases_20200126,...,deaths_20220506,deaths_20220507,deaths_20220508,deaths_20220509,deaths_20220510,deaths_20220511,deaths_20220512,deaths_20220513,deaths_20220514,deaths_20220515
0,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,216,216,216,216,216,216,216,216,216,216
1,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,680,680,680,680,680,680,680,681,681,681
2,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,98,98,98,98,98,98,98,98,98,98
3,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,104,104,104,104,104,104,105,105,105,105
4,1,Alabama,9,Blount County,1009,0,0,0,0,0,...,243,243,243,243,243,243,243,243,243,243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56,Wyoming,37,Sweetwater County,56037,0,0,0,0,0,...,126,126,126,126,126,126,126,126,126,126
3138,56,Wyoming,39,Teton County,56039,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3139,56,Wyoming,41,Uinta County,56041,0,0,0,0,0,...,39,39,39,39,39,39,39,39,39,39
3140,56,Wyoming,43,Washakie County,56043,0,0,0,0,0,...,44,44,44,44,44,44,44,44,44,44
3141,56,Wyoming,45,Weston County,56045,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18

## Step 2: Update CDC county-level cumulative provisional deaths data

In [7]:
cdcDeaths = pd.read_csv('https://data.cdc.gov/api/views/kn79-hsxy/rows.csv?accessType=DOWNLOAD')

In [8]:
cdcDeaths

,Date as of,Start Date,End Date,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes,Footnote
0,05/11/2022,01/01/2020,05/07/2022,AK,Aleutians East Borough,2013,Noncore,NaN,16.0,One or more data cells have counts between 1-9...
1,05/11/2022,01/01/2020,05/07/2022,AK,Anchorage Municipality,2020,Medium metro,685.0,5941.0,NaN
2,05/11/2022,01/01/2020,05/07/2022,AK,Bethel Census Area,2050,Noncore,33.0,275.0,NaN
3,05/11/2022,01/01/2020,05/07/2022,AK,Denali Borough,2068,Noncore,NaN,14.0,One or more data cells have counts between 1-9...
4,05/11/2022,01/01/2020,05/07/2022,AK,Dillingham Census Area,2070,Noncore,NaN,81.0,One or more data cells have counts between 1-9...
...,...,...,...,...,...,...,...,...,...,...
3071,05/11/2022,01/01/2020,05/07/2022,WY,Sweetwater County,56037,Micropolitan,100.0,804.0,NaN
3072,05/11/2022,01/01/2020,05/07/2022,WY,Teton County,56039,Micropolitan,18.0,216.0,NaN
3073,05/11/2022,01/01/2020,05/07/2022,WY,Uinta County,56041,Micropolitan,20.0,344.0,NaN
3074,05/11/2022,01/01/2020,05/07/2022,WY,Washakie County,56043,Noncore,28.0,190.0,NaN
3075,05/11/2022,01/01/2020,05/07/2022,WY,Weston County,56045,Noncore,NaN,164.0,One or more data cells have counts between 1-9...

In [9]:
# rename variables
cdcDeaths.rename(columns = {'State': 'stabbr', 'County name': 'ctyname', 'FIPS County Code': 'scfips',\
                            'Urban Rural Code': 'urbanrural', 'Deaths involving COVID-19': 'death_covid',\
                            'Deaths from All Causes': 'death_all', 'Start Date': 'death_startdate',\
                            'End Date': 'death_enddate'}, \
                 inplace = True)

In [10]:
# format dates
cdcDeaths['death_startdate'] = pd.to_datetime(cdcDeaths['death_startdate'])
cdcDeaths['death_startdate'] = cdcDeaths['death_startdate'].dt.strftime('%Y%m%d')
cdcDeaths['death_enddate'] = pd.to_datetime(cdcDeaths['death_enddate'])
cdcDeaths['death_enddate'] = cdcDeaths['death_enddate'].dt.strftime('%Y%m%d')

In [11]:
# extract end date
endDate = list(set(cdcDeaths['death_enddate']))[0]

# add end date to variable names
cdcDeaths.rename(columns = {'death_covid': 'death_covid_' + endDate, 'death_all': 'death_all_' + endDate}, \
                 inplace = True)

In [12]:
# keep selected variables only
cdcDeaths = cdcDeaths[['stabbr', 'scfips', 'urbanrural', 'death_startdate', 'death_covid_' + endDate, \
                       'death_all_' + endDate]].copy()

In [13]:
cdcDeaths

,stabbr,scfips,urbanrural,death_startdate,death_covid_20220507,death_all_20220507
0,AK,2013,Noncore,20200101,NaN,16.0
1,AK,2020,Medium metro,20200101,685.0,5941.0
2,AK,2050,Noncore,20200101,33.0,275.0
3,AK,2068,Noncore,20200101,NaN,14.0
4,AK,2070,Noncore,20200101,NaN,81.0
...,...,...,...,...,...,...
3071,WY,56037,Micropolitan,20200101,100.0,804.0
3072,WY,56039,Micropolitan,20200101,18.0,216.0
3073,WY,56041,Micropolitan,20200101,20.0,344.0
3074,WY,56043,Noncore,20200101,28.0,190.0
3075,WY,56045,Noncore,20200101,NaN,164.0

## Step 3: Merge county-level data

In [14]:
# specify fips to be scfips
fips.rename(columns = {'fips': 'scfips'}, inplace = True)

In [15]:
# merge fips with csse
csse = fips.merge(csse, on = ['stfips', 'stname', 'ctyfips', 'ctyname', 'scfips'], how = 'outer')

In [17]:
# merge with cdc deaths
final = csse.merge(cdcDeaths, on = 'scfips', how = 'left')

In [18]:
final.columns

Index(['stfips', 'stname', 'ctyfips', 'ctyname', 'scfips',
       'confirmed_cases_20200122', 'confirmed_cases_20200123',
       'confirmed_cases_20200124', 'confirmed_cases_20200125',
       'confirmed_cases_20200126',
       ...
       'deaths_20220511', 'deaths_20220512', 'deaths_20220513',
       'deaths_20220514', 'deaths_20220515', 'stabbr', 'urbanrural',
       'death_startdate', 'death_covid_20220507', 'death_all_20220507'],
      dtype='object', length=1700)

In [19]:
final = final[['stfips', 'stabbr', 'stname', 'ctyfips', 'ctyname', 'scfips', 'urbanrural'] \
              + [x for x in list(final.columns)[5:] if x not in ['stabbr', 'urbanrural']]]

In [20]:
final['stfips'] = final['stfips'].astype('int')
final['scfips'] = final['scfips'].astype('int')
final

,stfips,stabbr,stname,ctyfips,ctyname,scfips,urbanrural,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,...,deaths_20220509,deaths_20220510,deaths_20220511,deaths_20220512,deaths_20220513,deaths_20220514,deaths_20220515,death_startdate,death_covid_20220507,death_all_20220507
0,1,AL,Alabama,1,Autauga County,1001,Medium metro,0,0,0,...,216,216,216,216,216,216,216,20200101,171.0,1282.0
1,1,AL,Alabama,3,Baldwin County,1003,Small metro,0,0,0,...,680,680,680,680,681,681,681,20200101,597.0,5766.0
2,1,AL,Alabama,5,Barbour County,1005,Noncore,0,0,0,...,98,98,98,98,98,98,98,20200101,75.0,666.0
3,1,AL,Alabama,7,Bibb County,1007,Large fringe metro,0,0,0,...,104,104,104,105,105,105,105,20200101,45.0,479.0
4,1,AL,Alabama,9,Blount County,1009,Large fringe metro,0,0,0,...,243,243,243,243,243,243,243,20200101,88.0,1236.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56,WY,Wyoming,37,Sweetwater County,56037,Micropolitan,0,0,0,...,126,126,126,126,126,126,126,20200101,100.0,804.0
3138,56,WY,Wyoming,39,Teton County,56039,Micropolitan,0,0,0,...,16,16,16,16,16,16,16,20200101,18.0,216.0
3139,56,WY,Wyoming,41,Uinta County,56041,Micropolitan,0,0,0,...,39,39,39,39,39,39,39,20200101,20.0,344.0
3140,56,WY,Wyoming,43,Washakie County,56043,Noncore,0,0,0,...,44,44,44,44,44,44,44,20200101,28.0,190.0
3141,56,WY,Wyoming,45,Weston County,56045,Noncore,0,0,0,...,18,18,18,18,18,18,18,20200101,NaN,164.0

In [21]:
# output
final.to_csv("../Pandemic/county_casesAndDeaths.csv", index = False)

## Step 4: Update county-level dictionary

In [22]:
from get_dict_function import get_dict

In [23]:
cDict = pd.read_csv('../Pandemic/county_data_dictionary.csv')

In [24]:
tDict = cDict[cDict['field'] == 'cases and deaths']

In [25]:
tDict.variable_name

0                       stfips
1                       stabbr
2                       stname
3                      ctyfips
4                      ctyname
5                       scfips
6                   urbanrural
7     confirmed_cases_yyyymmdd
8              deaths_yyyymmdd
9              death_startdate
10          death_all_20220430
11        death_covid_20220430
Name: variable_name, dtype: object

In [25]:
'''
# move urbanrural variable to after scfips on 4/11/2022: run once
tDict1 = tDict.iloc[:6, :]
tDict2 = tDict.iloc[9, :]
tDict3 = tDict.iloc[6:9, :]
tDict4 = tDict.iloc[10:, :]
tDict = tDict1.append(tDict2, ignore_index = True)
tDict = tDict.append(tDict3, ignore_index = True)
tDict = tDict.append(tDict4, ignore_index = True)
tDict
'''

'\n# move urbanrural variable to after scfips on 4/11/2022: run once\ntDict1 = tDict.iloc[:6, :]\ntDict2 = tDict.iloc[9, :]\ntDict3 = tDict.iloc[6:9, :]\ntDict4 = tDict.iloc[10:, :]\ntDict = tDict1.append(tDict2, ignore_index = True)\ntDict = tDict.append(tDict3, ignore_index = True)\ntDict = tDict.append(tDict4, ignore_index = True)\ntDict\n'

In [26]:
tDict.loc[10, 'variable_name'] = 'death_all_' + endDate
tDict.loc[11, 'variable_name'] = 'death_covid_' + endDate

/Users/xywu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [27]:
tDict.variable_name

0                       stfips
1                       stabbr
2                       stname
3                      ctyfips
4                      ctyname
5                       scfips
6                   urbanrural
7     confirmed_cases_yyyymmdd
8              deaths_yyyymmdd
9              death_startdate
10          death_all_20220507
11        death_covid_20220507
Name: variable_name, dtype: object

In [28]:
tDict = get_dict(final, tDict)

0
Single column for this item...
1
Single column for this item...
2
Single column for this item...
3
Single column for this item...
4
Single column for this item...
5
Single column for this item...
6
Single column for this item...
7
Multiple columns for this item...
8
Multiple columns for this item...
9
Single column for this item...
10
Single column for this item...
11
Single column for this item...

In [29]:
tDict

,variable_name,label,file,field,source,link,start_column,end_column,start_date,end_date,filename_in_release4
0,stfips,State name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,1,1,-1,-1,casesAndDeaths.csv
1,stabbr,State abbreviation,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,2,2,-1,-1,casesAndDeaths.csv
2,stname,State FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,3,3,-1,-1,casesAndDeaths.csv
3,ctyfips,County name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,4,4,-1,-1,casesAndDeaths.csv
4,ctyname,County FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,5,5,-1,-1,casesAndDeaths.csv
5,scfips,FIPS code of state-county,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,6,6,-1,-1,casesAndDeaths.csv
6,urbanrural,NCHS urban-rural classification,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,7,7,-1,-1,NaN
7,confirmed_cases_yyyymmdd,No of confirmed cases on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,8,852,20200122,20220515,casesAndDeaths.csv
8,deaths_yyyymmdd,No of deaths on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,853,1697,20200122,20220515,casesAndDeaths.csv
9,death_startdate,First date of data period,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,1698,1698,-1,-1,NaN
11,death_covid_20220507,"Cumulative deaths from COVID-19 as of July 28,...",county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,1699,1699,-1,-1,NaN
10,death_all_20220507,Cumulative deaths from all causes as of July 2...,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,1700,1700,-1,-1,NaN

In [30]:
cDict[cDict['field'] == 'cases and deaths'] = tDict.copy()

In [31]:
cDict

,variable_name,label,file,field,source,link,start_column,end_column,start_date,end_date,filename_in_release4
0,stfips,State name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,1,1,-1,-1,casesAndDeaths.csv
1,stabbr,State abbreviation,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,2,2,-1,-1,casesAndDeaths.csv
2,stname,State FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,3,3,-1,-1,casesAndDeaths.csv
3,ctyfips,County name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,4,4,-1,-1,casesAndDeaths.csv
4,ctyname,County FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,5,5,-1,-1,casesAndDeaths.csv
5,scfips,FIPS code of state-county,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,6,6,-1,-1,casesAndDeaths.csv
6,urbanrural,NCHS urban-rural classification,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,7,7,-1,-1,NaN
7,confirmed_cases_yyyymmdd,No of confirmed cases on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,8,852,20200122,20220515,casesAndDeaths.csv
8,deaths_yyyymmdd,No of deaths on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,853,1697,20200122,20220515,casesAndDeaths.csv
9,death_startdate,First date of data period,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,1698,1698,-1,-1,NaN
10,death_all_20220507,Cumulative deaths from all causes as of July 2...,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,1700,1700,-1,-1,NaN
11,death_covid_20220507,"Cumulative deaths from COVID-19 as of July 28,...",county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,1699,1699,-1,-1,NaN
12,stfips,State name,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,1,1,-1,-1,NaN
13,stabbr,State abbreviation,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,2,2,-1,-1,NaN
14,stname,State FIPS code,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,3,3,-1,-1,NaN
15,ctyfips,County name,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,4,4,-1,-1,NaN
16,ctyname,County FIPS code,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,5,5,-1,-1,NaN
17,scfips,FIPS code of state-county,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,6,6,-1,-1,NaN
18,dose1_yyyymmdd,People with at least one dose administered,county_vaccination.csv,vaccination,CDC,https://data.cdc.gov/Vaccinations/COVID-19-Vac...,7,457,20201213,20220308,NaN
19,stfips,State name,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,1,1,-1,-1,mobility_unacast.csv
20,stabbr,State abbreviation,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,2,2,-1,-1,mobility_unacast.csv
21,stname,State FIPS code,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,3,3,-1,-1,mobility_unacast.csv
22,ctyfips,County name,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,4,4,-1,-1,mobility_unacast.csv
23,ctyname,County FIPS code,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,5,5,-1,-1,mobility_unacast.csv
24,scfips,FIPS code of state-county,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,6,6,-1,-1,mobility_unacast.csv
25,descartes_m50_yyyymmdd,The median of the max-distance mobility for al...,county_mobility.csv,mobility,Descartes,https://github.com/descarteslabs/DL-COVID-19,7,402,20200301,20210420,mobility_descartes.csv
26,descartes_m50_index_yyyymmdd,"The percent of normal m50 in the region, with ...",county_mobility.csv,mobility,Descartes,https://github.com/descarteslabs/DL-COVID-19,403,798,20200301,20210420,mobility_descartes.csv
27,descartes_samples_yyyymmdd,The number of samples observed in the specifie...,county_mobility.csv,mobility,Descartes,https://github.com/descarteslabs/DL-COVID-19,799,1194,20200301,20210420,mobility_descartes.csv
28,unacast_county_population_2018,The total count of the population for this seg...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1195,1195,-1,-1,mobility_unacast.csv
29,unacast_covid_yyyymmdd,Identifiers whether event date is PRE or POST ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1196,1285,20200224,20200523,mobility_unacast.csv
30,unacast_daily_distance_diff_yyyymmdd,Change of average distance traveled from basel...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1286,1375,20200224,20200523,mobility_unacast.csv
31,unacast_daily_visitation_diff_yyyymmdd,Change of visits to non-essential retail and s...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1376,1465,20200224,20200523,mobility_unacast.csv
32,unacast_encounters_rate_yyyymmdd,Rate of unique human encounters per Km² relati...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1466,1555,20200224,20200523,mobility_unacast.csv
33,unacast_grade_distance_yyyymmdd,"A, B, C, D or F score describing county's redu...",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1556,1645,20200224,20200523,mobility_unacast.csv
34,unacast_grade_encounters_yyyymmdd,"A, B, C, D, or F score describing rate of enco...",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1646,1735,20200224,20200523,mobility_unacast.csv
35,unacast_grade_total_yyyymmdd,"A, A-, B, B-, C, C-, D, D- or F score describi...",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1736,1825,20200224,20200523,mobility_unacast.csv
36,unacast_grade_visitation_yyyymmdd,"A, B, C, D or F score describing county's redu...",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1826,1915,20200224,20200523,mobility_unacast.csv
37,unacast_last_updated_yyyymmdd,Timestamp of when this data was processed and ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1916,2005,20200224,20200523,mobility_unacast.csv
38,unacast_n_grade_distance_yyyymmdd,Corresponding number for letter grade where A ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2006,2095,20200224,20200523,mobility_unacast.csv
39,unacast_n_grade_encounters_yyyymmdd,Corresponding number for letter grade where A=...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2096,2185,20200224,20200523,mobility_unacast.csv
40,unacast_n_grade_total_yyyymmdd,Corresponding number for letter grade where A ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2186,2275,20200224,20200523,mobility_unacast.csv
41,unacast_n_grade_visitation_yyyymmdd,Corresponding number for letter grade where A ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2276,2365,20200224,20200523,mobility_unacast.csv
42,unacast_weekday_yyyymmdd,Weekday,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2366,2455,20200224,20200523,mobility_unacast.csv

In [32]:
# output
cDict.to_csv("../Pandemic/county_data_dictionary.csv", index = False)

# Part II: State-Level Data and Dictionary

## Step 1: Update CDC provisional deaths data by place of death and state

In [33]:
deaths = pd.read_csv('https://data.cdc.gov/api/views/uggs-hy5q/rows.csv?accessType=DOWNLOAD')
deaths.columns

Index(['Data As Of', 'Start Date', 'End Date', 'Group', 'Year', 'Month',
       'State', 'Place of Death', 'COVID-19 Deaths', 'Total Deaths',
       'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths',
       'Pneumonia, Influenza, or COVID-19 Deaths', 'Footnote'],
      dtype='object')

In [34]:
footnote = list(set(deaths.Footnote))[1]
footnote

'One or more data cells have counts between 1-9 and have been suppressed in accordance with NCHS confidentiality standards.'

In [35]:
# selected by month, state-level, and all-aces-of-deaths rows
deaths = deaths[deaths['Group'] == 'By Month'].copy()
deaths = deaths[deaths['Place of Death'] == 'Total - All Places of Death'].copy()
deaths = deaths[deaths['State'] != 'United States'].copy()
deaths.reset_index(drop = True, inplace = True)

In [36]:
# select columns
deaths = deaths[['State', 'Year', 'Month', 'COVID-19 Deaths', 'Total Deaths',\
                 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths',\
                 'Pneumonia, Influenza, or COVID-19 Deaths']].copy()

In [37]:
# generate year-month variable
deaths.loc[:, 'Year'] = deaths['Year'].astype('int')
deaths.loc[:, 'Month'] = deaths['Month'].astype('int')
# turn 1- or 2-digit month in integer into 2-digit mongh string
deaths.loc[:, 'Month'] = [str(x).zfill(2) for x in list(deaths.Month)]
# concatenate year and month info
deaths['year_month'] = deaths['Year'].astype('str') + deaths['Month']
deaths.drop(columns = ['Year', 'Month'], inplace = True)

In [38]:
# rename variables before reshape
deaths.rename(columns = {'Total Deaths': 'death_all_',\
                         'COVID-19 Deaths': 'death_covid_',\
                         'Pneumonia Deaths': 'death_pneu_',\
                         'Pneumonia and COVID-19 Deaths': 'death_cp_',\
                         'Influenza Deaths': 'death_flu_',\
                         'Pneumonia, Influenza, or COVID-19 Deaths': 'death_cpf_'},\
              inplace = True)

In [39]:
# get summary statistics before reshape to see if any suspicious records
smry = deaths[['death_all_', 'death_covid_', 'death_pneu_', 'death_cp_',\
               'death_flu_', 'death_cpf_']].describe().round(decimals = 2)
# check if any null values in all-cause death counts
print(smry['death_all_'].isnull().values.any()) # false, good to proceed
# inspect summary statistics manually
#smry.to_csv('~/Documents/ra/HPC/HPC_datahub/release6/cdc_provisional_deaths_state_summary.csv', index = True)
smry

False

,death_all_,death_covid_,death_pneu_,death_cp_,death_flu_,death_cpf_
count,1536.00,1452.00,1512.00,1399.00,809.00,1515.00
mean,5229.23,690.49,594.32,370.50,11.48,919.05
std,5602.44,1321.18,920.86,751.33,37.26,1480.55
min,0.00,0.00,0.00,0.00,0.00,0.00
25%,1354.00,70.75,127.00,37.00,0.00,178.00
50%,3767.00,263.50,330.00,133.00,0.00,463.00
75%,6589.25,765.00,666.50,402.00,11.00,1046.50
max,48158.00,20060.00,13801.00,12191.00,746.00,21681.00

In [40]:
# get unique items as a prepare for dictionary
itms = list(deaths.columns)
itms.remove('State')
itms.remove('year_month')
itms = ['cdc_' + x + 'yyyymm' for x in itms]

In [41]:
# reshape from long form to wide form
deaths = deaths.pivot(index = 'State', columns = 'year_month')
deaths.columns = [x[0] + x[1] for x in list(deaths.columns)]
deaths.reset_index(drop = False, inplace = True)
deaths.rename(columns = {'State': 'stname'}, inplace = True)

In [42]:
# merge with fips code
fips = pd.read_csv('~/Documents/GitHub/COVID_DataHub/FIPS/state_territory_fips.csv')
tdf = fips.merge(deaths, on = 'stname', how = 'outer')
tdf.iloc[:, :3]
# combine NYC into NY state
tdf.loc[57, 'stname'] = 'New York'
tdf = tdf.groupby(by = ['stfips', 'stabbr', 'stname'], as_index = False).sum()

In [43]:
# add 'cdc' prefix to column names
tdf.columns = list(tdf.columns)[:3] + ['cdc_' + x for x in list(tdf.columns)[3:]]

In [44]:
tdf

,stfips,stabbr,stname,cdc_death_covid_202001,cdc_death_covid_202002,cdc_death_covid_202003,cdc_death_covid_202004,cdc_death_covid_202005,cdc_death_covid_202006,cdc_death_covid_202007,...,cdc_death_cpf_202108,cdc_death_cpf_202109,cdc_death_cpf_202110,cdc_death_cpf_202111,cdc_death_cpf_202112,cdc_death_cpf_202201,cdc_death_cpf_202202,cdc_death_cpf_202203,cdc_death_cpf_202204,cdc_death_cpf_202205
0,1.0,AL,Alabama,0.0,0.0,48.0,339.0,430.0,399.0,879.0,...,1903.0,2199.0,1094.0,529.0,575.0,1511.0,1470.0,581.0,201.0,13.0
1,2.0,AK,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,12.0,...,122.0,206.0,234.0,132.0,81.0,90.0,89.0,38.0,15.0,0.0
2,4.0,AZ,Arizona,0.0,0.0,64.0,405.0,507.0,899.0,2102.0,...,1074.0,1473.0,1436.0,1925.0,2512.0,2449.0,1614.0,712.0,283.0,20.0
3,5.0,AR,Arkansas,0.0,0.0,10.0,61.0,78.0,169.0,274.0,...,1118.0,908.0,580.0,407.0,575.0,1018.0,925.0,352.0,164.0,13.0
4,6.0,CA,California,0.0,0.0,279.0,2021.0,2238.0,2065.0,3890.0,...,4694.0,5503.0,4066.0,3790.0,3987.0,8359.0,6182.0,2653.0,1115.0,43.0
5,8.0,CO,Colorado,0.0,0.0,107.0,880.0,465.0,184.0,152.0,...,481.0,676.0,971.0,1384.0,1245.0,1309.0,782.0,386.0,146.0,10.0
6,9.0,CT,Connecticut,0.0,0.0,126.0,2457.0,1535.0,285.0,77.0,...,262.0,300.0,307.0,328.0,548.0,1149.0,488.0,202.0,154.0,0.0
7,10.0,DE,Delaware,0.0,0.0,0.0,189.0,276.0,73.0,35.0,...,86.0,164.0,156.0,124.0,225.0,383.0,192.0,101.0,41.0,0.0
8,11.0,DC,District of Columbia,0.0,0.0,15.0,262.0,272.0,116.0,43.0,...,71.0,61.0,67.0,46.0,100.0,224.0,96.0,52.0,22.0,0.0
9,12.0,FL,Florida,0.0,0.0,191.0,1311.0,1131.0,1083.0,4980.0,...,11485.0,9385.0,3733.0,1872.0,1977.0,5829.0,4444.0,2142.0,1002.0,71.0
10,13.0,GA,Georgia,0.0,0.0,221.0,1084.0,808.0,518.0,1342.0,...,3099.0,4117.0,1897.0,897.0,1012.0,2879.0,1968.0,786.0,270.0,12.0
11,15.0,HI,Hawaii,0.0,0.0,0.0,16.0,0.0,0.0,0.0,...,200.0,315.0,143.0,100.0,97.0,224.0,157.0,68.0,38.0,0.0
12,16.0,ID,Idaho,0.0,0.0,10.0,55.0,22.0,11.0,129.0,...,275.0,681.0,709.0,372.0,282.0,325.0,353.0,129.0,53.0,0.0
13,17.0,IL,Illinois,0.0,0.0,193.0,2448.0,2822.0,1162.0,443.0,...,1187.0,1553.0,1306.0,1349.0,2560.0,4429.0,1817.0,769.0,438.0,41.0
14,18.0,IN,Indiana,0.0,0.0,126.0,1143.0,961.0,471.0,333.0,...,941.0,1641.0,1348.0,1222.0,2260.0,2661.0,1447.0,632.0,237.0,0.0
15,19.0,IA,Iowa,0.0,0.0,10.0,171.0,416.0,159.0,174.0,...,306.0,517.0,610.0,575.0,765.0,883.0,552.0,245.0,114.0,0.0
16,20.0,KS,Kansas,0.0,0.0,14.0,129.0,101.0,66.0,115.0,...,496.0,589.0,430.0,466.0,712.0,1076.0,629.0,274.0,104.0,0.0
17,21.0,KY,Kentucky,0.0,0.0,28.0,246.0,225.0,155.0,182.0,...,1202.0,2078.0,1509.0,847.0,1257.0,1846.0,1494.0,767.0,268.0,0.0
18,22.0,LA,Louisiana,0.0,0.0,398.0,1630.0,742.0,361.0,765.0,...,1974.0,1382.0,568.0,339.0,354.0,1113.0,871.0,334.0,76.0,0.0
19,23.0,ME,Maine,0.0,0.0,0.0,51.0,43.0,14.0,24.0,...,112.0,211.0,233.0,309.0,426.0,369.0,239.0,149.0,86.0,10.0
20,24.0,MD,Maryland,0.0,0.0,48.0,1280.0,1542.0,675.0,319.0,...,450.0,729.0,771.0,575.0,1006.0,2103.0,814.0,443.0,241.0,38.0
21,25.0,MA,Massachusetts,0.0,0.0,130.0,3942.0,3047.0,638.0,198.0,...,405.0,571.0,623.0,641.0,1113.0,1886.0,849.0,419.0,278.0,38.0
22,26.0,MI,Michigan,0.0,0.0,503.0,3646.0,1297.0,302.0,191.0,...,783.0,1260.0,1792.0,2775.0,3940.0,3304.0,1630.0,852.0,422.0,58.0
23,27.0,MN,Minnesota,0.0,0.0,21.0,396.0,705.0,370.0,154.0,...,359.0,598.0,806.0,1106.0,1384.0,1188.0,735.0,368.0,180.0,25.0
24,28.0,MS,Mississippi,0.0,0.0,33.0,306.0,458.0,324.0,676.0,...,1416.0,1231.0,545.0,359.0,443.0,1220.0,968.0,429.0,219.0,0.0
25,29.0,MO,Missouri,0.0,0.0,32.0,460.0,405.0,196.0,272.0,...,1697.0,1309.0,901.0,825.0,1433.0,2345.0,1430.0,554.0,283.0,12.0
26,30.0,MT,Montana,0.0,0.0,0.0,11.0,0.0,0.0,44.0,...,201.0,329.0,479.0,366.0,187.0,233.0,225.0,108.0,36.0,0.0
27,31.0,NE,Nebraska,0.0,0.0,0.0,76.0,111.0,92.0,48.0,...,232.0,273.0,336.0,360.0,447.0,493.0,352.0,168.0,49.0,0.0
28,32.0,NV,Nevada,0.0,0.0,35.0,228.0,162.0,91.0,366.0,...,845.0,865.0,647.0,587.0,632.0,1122.0,795.0,339.0,132.0,0.0
29,33.0,NH,New Hampshire,0.0,0.0,10.0,83.0,190.0,100.0,33.0,...,93.0,102.0,169.0,209.0,329.0,299.0,186.0,77.0,69.0,0.0
30,34.0,NJ,New Jersey,0.0,0.0,701.0,9010.0,3358.0,841.0,330.0,...,655.0,877.0,847.0,718.0,1225.0,3304.0,1128.0,466.0,297.0,50.0
31,35.0,NM,New Mexico,0.0,0.0,0.0,164.0,264.0,131.0,168.0,...,319.0,411.0,407.0,676.0,841.0,763.0,443.0,229.0,58.0,0.0
32,36.0,NY,New York,0.0,0.0,706.0,7286.0,2719.0,629.0,238.0,...,1030.0,1421.0,1602.0,1695.0,2591.0,3694.0,1854.0,980.0,767.0,147.0
33,37.0,NC,North Carolina,0.0,0.0,24.0,449.0,540.0,471.0,700.0,...,2085.0,3111.0,2098.0,1192.0,1562.0,2592.0,1923.0,874.0,278.0,28.0
34,38.0,ND,North Dakota,0.0,0.0,0.0,26.0,53.0,20.0,30.0,...,88.0,138.0,269.0,242.0,202.0,181.0,177.0,62.0,33.0,0.0
35,39.0,OH,Ohio,0.0,0.0,98.0,1063.0,1158.0,559.0,681.0,...,1218.0,2816.0,3198.0,2779.0,4703.0,5544.0,2499.0,1104.0,441.0,21.0
36,40.0,OK,Oklahoma,0.0,0.0,39.0,208.0,114.0,72.0,231.0,...,1311.0,1517.0,913.0,641.0,946.0,1744.0,1341.0,534.0,202.0,0.0
37,41.0,OR,Oregon,0.0,0.0,28.0,105.0,59.0,60.0,102.0,...,692.0,1026.0,761.0,503.0,489.0,688.0,693.0,307.0,120.0,0.0
38,42.0,PA,Pennsylvania,0.0,0.0,104.0,3502.0,2711.0,830.0,499.0,...,1061.0,1907.0,2799.0,2895.0,4222.0,5146.0,2345.0,1019.0,609.0,88.0
39,44.0,RI,Rhode Island,0.0,0.0,0.0,353.0,469.0,148.0,40.0,...,76.0,110.0,104.0,116.0,228.0,337.0,145.0,65.0,44.0,0.0
40,45.0,SC,South Carolina,0.0,0.0,34.0,237.0,291.0,293.0,1032.0,...,1359.0,2227.0,1247.0,632.0,726.0,1372.0,1379.0,498.0,177.0,0.0
41,46.0,SD,South Dakota,0.0,0.0,0.0,21.0,44.0,40.0,50.0,...,75.0,171.0,160.0,199.0,215.0,237.0,189.0,81.0,28.0,0.0
42,47.0,TN,Tennessee,0.0,0.0,35.0,185.0,203.0,213.0,587.0,...,2040.0,3478.0,1964.0,1100.0,1410.0,2592.0,2180.0,952.0,337.0,36.0
43,48.0,TX,Texas,0.0,0.0,99.0,934.0,964.0,1436.0,6971.0,...,8393.0,9803.0,5414.0,2963.0,3455.0,7671.0,5686.0,2264.0,832.0,43.0
44,49.0,UT,Utah,0.0,0.0,0.0,44.0,70.0,68.0,146.0,...,319.0,411.0,487.0,440.0,397.0,485.0,360.0,175.0,75.0,11.0
45,50.0,VT,Vermont,0.0,0.0,16.0,38.0,0.0,0.0,0.0,...,44.0,68.0,77.0,59.0,106.0,104.0,80.0,49.0,36.0,0.0
46,51.0,VA,Virginia,0.0,0.0,62.0,753.0,854.0,395.0,370.0,...,758.0,1500.0,1300.0,883.0,1223.0,2357.0,1421.0,613.0,217.0,0.0
47,53.0,WA,Washington,0.0,0.0,289.0,549.0,275.0,159.0,292.0,...,882.0,1416.0,1107.0,846.0,757.0,1396.0,996.0,455.0,187.0,25.0
48,54.0,WV,West Virginia,0.0,0.0,0.0,49.0,38.0,13.0,34.0,...,371.0,841.0,795.0,595.0,526.0,812.0,659.0,372.0,177.0,13.0
49,55.0,WI,Wisconsin,0.0,0.0,44.0,311.0,288.0,164.0,166.0,...,488.0,829.0,954.0,1117.0,1584.0,1691.0,772.0,380.0,174.0,0.0
50,56.0,WY,Wyoming,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,99.0,196.0,230.0,176.0,102.0,99.0,102.0,42.0,21.0,0.0
51,60.0,AS,American Samoa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,66.0,GU,Guam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,69.0,MP,Northern Mariana Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,72.0,PR,Puerto Rico,0.0,0.0,22.0,78.0,35.0,16.0,91.0,...,562.0,573.0,342.0,279.0,359.0,991.0,522.0,327.0,210.0,28.0
55,74.0,UM,U.S. Minor Outlying Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,78.0,VI,U.S. Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 2: Update state-level data file

In [45]:
# read existing data
slData = pd.read_csv('~/Documents/GitHub/COVID_DataHub/Pandemic/state_level_data.csv')

# read state-level dictionary
slDict = pd.read_csv('~/Documents/GitHub/COVID_DataHub/Pandemic/state_data_dictionary.csv')

In [46]:
# find indices of state-level cases & deaths variables
rows = slDict.index[slDict['link'] == 'https://data.cdc.gov/NCHS/Provisional-COVID-19-Deaths-by-Place-of-Death-and-/uggs-hy5q'].tolist()
# get the range of indices
cols = []
for i in range(len(rows)):
    cols = cols + list(range(slDict.loc[rows[i],'start_column'] - 1,\
                             slDict.loc[rows[i], 'end_column']))
# double-check if consecutive
print(cols[0])
print(cols[-1])
cols == list(range(cols[0], cols[-1]))
# if true, good to proceed: insert this deaths data to assigned location

# CAUTION: since the column number starts from 1, which is different from python's starting column index as 0,
#          need to minus one for the starting column to get the real column index. The end column index is good
#          as python doesn't include the higher bound anyway.

108
275

False

In [48]:
#cols

In [49]:
# split state-level data into two trunks: 
# (1) before the start of previous provisional death data
# (2) after the end of cases & deaths data
df0 = slData.iloc[:, :(cols[0])]
df2 = slData.iloc[:, (cols[-1] + 1):]

In [50]:
df0.columns

Index(['stname', 'stabbr', 'stfips', 'apm_cases_total_2018',
       'apm_cases_hispanic_2018', 'apm_cases_nhwhite_2018',
       'apm_cases_nhblack_2018', 'apm_cases_nhasian_2018',
       'apm_cases_totalDeathBy_20200609', 'apm_cases_totalDeathBy_20200623',
       ...
       'apm_cases_asianDeath_20201027', 'apm_cases_asianDeath_20201110',
       'apm_cases_asianDeath_20201124', 'apm_cases_asianDeath_20201208',
       'apm_cases_asianDeath_20201222', 'apm_cases_asianDeath_20210105',
       'apm_cases_asianDeath_20210119', 'apm_cases_asianDeath_20210202',
       'apm_cases_asianDeath_20210216', 'apm_cases_asianDeath_20210302'],
      dtype='object', length=108)

In [51]:
slData.iloc[:, cols[0]:(cols[-1] + 1)].columns

Index(['cdc_death_covid_202001', 'cdc_death_covid_202002',
       'cdc_death_covid_202003', 'cdc_death_covid_202004',
       'cdc_death_covid_202005', 'cdc_death_covid_202006',
       'cdc_death_covid_202007', 'cdc_death_covid_202008',
       'cdc_death_covid_202009', 'cdc_death_covid_202010',
       ...
       'cdc_death_cpf_202107', 'cdc_death_cpf_202108', 'cdc_death_cpf_202109',
       'cdc_death_cpf_202110', 'cdc_death_cpf_202111', 'cdc_death_cpf_202112',
       'cdc_death_cpf_202201', 'cdc_death_cpf_202202', 'cdc_death_cpf_202203',
       'cdc_death_cpf_202204'],
      dtype='object', length=168)

In [52]:
df2.columns

Index(['medical_covidtracking_positive_20200113',
       'medical_covidtracking_positive_20200114',
       'medical_covidtracking_positive_20200115',
       'medical_covidtracking_positive_20200116',
       'medical_covidtracking_positive_20200117',
       'medical_covidtracking_positive_20200118',
       'medical_covidtracking_positive_20200119',
       'medical_covidtracking_positive_20200120',
       'medical_covidtracking_positive_20200121',
       'medical_covidtracking_positive_20200122',
       ...
       'apm_vac_latino_20210503', 'apm_vac_latino_20210517',
       'apm_vac_indig_20210405', 'apm_vac_indig_20210419',
       'apm_vac_indig_20210503', 'apm_vac_indig_20210517',
       'apm_vac_other_20210405', 'apm_vac_other_20210419',
       'apm_vac_other_20210503', 'apm_vac_other_20210517'],
      dtype='object', length=11750)

In [53]:
# merge provisional deaths data with the first half
df1 = df0.merge(tdf, on = ['stfips', 'stabbr', 'stname'], how = 'left')
# concatenate df0 and df1 on columns
fnl = pd.concat([df1, df2], axis = 1)

In [54]:
# output updated data
fnl.to_csv('~/Documents/GitHub/COVID_DataHub/Pandemic/state_level_data.csv', index = False)

## Step 3: Update state-level dictionary

In [55]:
# update dictionary
fdct = get_dict(fnl, slDict)

0
Single column for this item...
1
Single column for this item...
2
Single column for this item...
3
Single column for this item...
4
Single column for this item...
5
Single column for this item...
6
Single column for this item...
7
Single column for this item...
8
Multiple columns for this item...
9
Multiple columns for this item...
10
Multiple columns for this item...
11
Multiple columns for this item...
12
Multiple columns for this item...
13
Multiple columns for this item...
14
Multiple columns for this item...
15
Multiple columns for this item...
16
Multiple columns for this item...
17
Multiple columns for this item...
18
Multiple columns for this item...
19
Multiple columns for this item...
20
Multiple columns for this item...
21
Multiple columns for this item...
22
Multiple columns for this item...
23
Multiple columns for this item...
24
Multiple columns for this item...
25
Multiple columns for this item...
26
Multiple columns for this item...
27
Multiple columns for this item...
28
Multiple columns for this item...
29
Multiple columns for this item...
30
Multiple columns for this item...
31
Multiple columns for this item...
32
Multiple columns for this item...
33
Multiple columns for this item...
34
Multiple columns for this item...
35
Multiple columns for this item...
36
Multiple columns for this item...
37
Multiple columns for this item...
38
Multiple columns for this item...
39
Multiple columns for this item...
40
Multiple columns for this item...
41
Multiple columns for this item...
42
Multiple columns for this item...
43
Single column for this item...
44
Single column for this item...
45
Single column for this item...
46
Single column for this item...
47
Single column for this item...
48
Single column for this item...
49
Single column for this item...
50
Single column for this item...
51
Single column for this item...
52
Single column for this item...
53
Single column for this item...
54
Single column for this item...
55
Single column for this item...
56
Single column for this item...
57
Single column for this item...
58
Single column for this item...
59
Single column for this item...
60
Single column for this item...
61
Single column for this item...
62
Single column for this item...
63
Single column for this item...
64
Single column for this item...
65
Single column for this item...
66
Single column for this item...
67
Single column for this item...
68
Single column for this item...
69
Single column for this item...
70
Single column for this item...
71
Single column for this item...
72
Single column for this item...
73
Single column for this item...
74
Single column for this item...
75
Single column for this item...
76
Single column for this item...
77
Single column for this item...
78
Single column for this item...
79
Single column for this item...
80
Single column for this item...
81
Single column for this item...
82
Single column for this item...
83
Single column for this item...
84
Single column for this item...
85
Single column for this item...
86
Single column for this item...
87
Single column for this item...
88
Single column for this item...
89
Single column for this item...
90
Single column for this item...
91
Single column for this item...
92
Single column for this item...
93
Single column for this item...
94
Single column for this item...
95
Single column for this item...
96
Single column for this item...
97
Single column for this item...
98
Single column for this item...
99
Single column for this item...
100
Single column for this item...
101
Single column for this item...
102
Single column for this item...
103
Single column for this item...
104
Single column for this item...
105
Single column for this item...
106
Single column for this item...
107
Single column for this item...
108
Single column for this item...
109
Single column for this item...
110
Single column for this item...
111
Single column for this item...
112
Single column for this item...
113
Single column for this item...
114
Single column for this item...
115
Single column for this item...
116
Single column for this item...
117
Single column for this item...
118
Single column for this item...
119
Single column for this item...
120
Single column for this item...
121
Single column for this item...
122
Multiple columns for this item...
123
Multiple columns for this item...
124
Multiple columns for this item...
125
Multiple columns for this item...
126
Single column for this item...
127
Single column for this item...
128
Single column for this item...
129
Single column for this item...
130
Single column for this item...
131
Single column for this item...
132
Single column for this item...
133
Multiple columns for this item...
134
Multiple columns for this item...
135
Multiple columns for this item...
136
Multiple columns for this item...
137
Multiple columns for this item...
138
Multiple columns for this item...
139
Multiple columns for this item...

In [56]:
fdct

,variable_name,label,field,source,link,start_column,end_column,start_date,end_date,filename_in_release4,footnote
0,stname,State name,state identifier,Census,https://www2.census.gov/geo/docs/reference/sta...,1,1,-1,-1,NaN,NaN
1,stabbr,State abbreviation,state identifier,Census,https://www2.census.gov/geo/docs/reference/sta...,2,2,-1,-1,NaN,NaN
2,stfips,State FIPS code,state identifier,Census,https://www2.census.gov/geo/docs/reference/sta...,3,3,-1,-1,NaN,NaN
3,apm_cases_total_2018,Total population in 2018,cases and deaths,APM,https://www.apmresearchlab.org/covid/deaths-by...,4,4,-1,-1,ApmColorOfCoronavirus.csv,NaN
4,apm_cases_hispanic_2018,Hispanic pooulation in 2018,cases and deaths,APM,https://www.apmresearchlab.org/covid/deaths-by...,5,5,-1,-1,ApmColorOfCoronavirus.csv,NaN
...,...,...,...,...,...,...,...,...,...,...,...
135,apm_vac_white_yyyymmdd,Number of White persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12013,12016,20210405,20210517,NaN,NaN
136,apm_vac_asian_yyyymmdd,Number of Asian persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12017,12020,20210405,20210517,NaN,NaN
137,apm_vac_latino_yyyymmdd,Number of Latino persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12021,12024,20210405,20210517,NaN,NaN
138,apm_vac_indig_yyyymmdd,Number of Indigenous persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12025,12028,20210405,20210517,NaN,NaN
139,apm_vac_other_yyyymmdd,Number of other race/ethnicity persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12029,12032,20210405,20210517,NaN,NaN

In [57]:
# output updated dictionary
fdct.to_csv('~/Documents/GitHub/COVID_DataHub/Pandemic/state_data_dictionary.csv', index = False)