# Confirmed Cases and Deaths Code
### Latest update of script on 6/6/2022

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from get_dict_function import get_dict

## FIPS code

In [2]:
# importing fips data. and rearranging the columns
fips = pd.read_csv('~/Documents/GitHub/COVID_DataHub/FIPS/state_county_fips.csv')

# inspect the object
print(fips)

# remove below for previous county-level FIPS code file but tentative keep the code
'''
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips = fips.reset_index()
fips = fips.iloc[0:3142, 1:]
'''

      stfips  ctyfips       stname              ctyname   fips
0          1        1      Alabama       Autauga County   1001
1          1        3      Alabama       Baldwin County   1003
2          1        5      Alabama       Barbour County   1005
3          1        7      Alabama          Bibb County   1007
4          1        9      Alabama        Blount County   1009
...      ...      ...          ...                  ...    ...
3215      72      145  Puerto Rico  Vega Baja Municipio  72145
3216      72      147  Puerto Rico    Vieques Municipio  72147
3217      72      149  Puerto Rico   Villalba Municipio  72149
3218      72      151  Puerto Rico    Yabucoa Municipio  72151
3219      72      153  Puerto Rico      Yauco Municipio  72153

[3220 rows x 5 columns]

'\nfips = fips.iloc[:, [1, 3, 2, 4, 5]]\n\n# Convert the \'integers\' to integers in fips file.\nfor i in range(fips.shape[0]):\n    if fips.iloc[i, 4] != \'unknown\':\n        fips.iloc[i, 4] = int(fips.iloc[i, 4])\n        fips.iloc[i, 2] = int(fips.iloc[i, 2])\n\nfips = fips.drop(fips[fips.fips == 0].index)\nfips = fips.drop(fips[fips.fips == "unknown"].index)\nfips = fips.reset_index()\nfips = fips.iloc[0:3142, 1:]\n'

# Part I: County-Level Data and Dictionary

## Step 1: Update county-level data from CSSE

In [3]:
cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
cases.drop(cases.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10]], axis=1, inplace=True)

cases.rename(columns={"FIPS":"fips"}, inplace=True)

for col in cases.columns[1:]:
    cases.rename(columns={col: "confirmed_cases_" + datetime.strptime(col, "%m/%d/%y").strftime('%Y%m%d')}, inplace=True)

cases = pd.merge(fips, cases, on="fips", how="left")
#cases

In [4]:
deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv")
deaths.drop(deaths.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10, 11]], axis=1, inplace=True)

deaths.rename(columns={"FIPS":"fips"}, inplace=True)

for col in deaths.columns[1:]:
    deaths.rename(columns={col: "deaths_" + datetime.strptime(col, "%m/%d/%y").strftime('%Y%m%d')}, inplace=True)

deaths = pd.merge(fips, deaths, on="fips", how="left")
#deaths

In [5]:
deaths = deaths.iloc[:, 5:]
csse = pd.concat([cases, deaths], axis=1)

In [6]:
# rename 'fips' column to 'scfips' to clarify it's state-county FIPS
csse.rename(columns = {'fips': 'scfips'}, inplace = True)
csse

,stfips,ctyfips,stname,ctyname,scfips,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,confirmed_cases_20200125,confirmed_cases_20200126,...,deaths_20221030,deaths_20221031,deaths_20221101,deaths_20221102,deaths_20221103,deaths_20221104,deaths_20221105,deaths_20221106,deaths_20221107,deaths_20221108
0,1,1,Alabama,Autauga County,1001,0,0,0,0,0,...,228,228,228,228,228,228,228,228,228,228
1,1,3,Alabama,Baldwin County,1003,0,0,0,0,0,...,716,716,716,716,716,716,716,716,716,716
2,1,5,Alabama,Barbour County,1005,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
3,1,7,Alabama,Bibb County,1007,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
4,1,9,Alabama,Blount County,1009,0,0,0,0,0,...,258,258,258,258,258,258,258,258,258,258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72,145,Puerto Rico,Vega Baja Municipio,72145,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3216,72,147,Puerto Rico,Vieques Municipio,72147,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3217,72,149,Puerto Rico,Villalba Municipio,72149,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3218,72,151,Puerto Rico,Yabucoa Municipio,72151,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3219,72,153,Puerto Rico,Yauco Municipio,72153,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 2: Update CDC county-level cumulative provisional deaths data

In [7]:
cdcDeaths = pd.read_csv('https://data.cdc.gov/api/views/kn79-hsxy/rows.csv?accessType=DOWNLOAD')

In [8]:
cdcDeaths

,Date as of,Start Date,End Date,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes,Footnote
0,11/09/2022,01/01/2020,11/05/2022,AK,Aleutians East Borough,2013,Noncore,NaN,22.0,One or more data cells have counts between 1-9...
1,11/09/2022,01/01/2020,11/05/2022,AK,Anchorage Municipality,2020,Medium metro,739.0,7203.0,NaN
2,11/09/2022,01/01/2020,11/05/2022,AK,Bethel Census Area,2050,Noncore,39.0,325.0,NaN
3,11/09/2022,01/01/2020,11/05/2022,AK,Denali Borough,2068,Noncore,NaN,24.0,One or more data cells have counts between 1-9...
4,11/09/2022,01/01/2020,11/05/2022,AK,Dillingham Census Area,2070,Noncore,NaN,97.0,One or more data cells have counts between 1-9...
...,...,...,...,...,...,...,...,...,...,...
3080,11/09/2022,01/01/2020,11/05/2022,WY,Sweetwater County,56037,Micropolitan,105.0,962.0,NaN
3081,11/09/2022,01/01/2020,11/05/2022,WY,Teton County,56039,Micropolitan,19.0,275.0,NaN
3082,11/09/2022,01/01/2020,11/05/2022,WY,Uinta County,56041,Micropolitan,23.0,429.0,NaN
3083,11/09/2022,01/01/2020,11/05/2022,WY,Washakie County,56043,Noncore,29.0,230.0,NaN
3084,11/09/2022,01/01/2020,11/05/2022,WY,Weston County,56045,Noncore,10.0,190.0,NaN

In [9]:
# rename variables
cdcDeaths.rename(columns = {'State': 'stabbr', 'County name': 'ctyname', 'FIPS County Code': 'scfips',\
                            'Urban Rural Code': 'urbanrural', 'Deaths involving COVID-19': 'death_covid',\
                            'Deaths from All Causes': 'death_all', 'Start Date': 'death_startdate',\
                            'End Date': 'death_enddate'}, \
                 inplace = True)

In [10]:
# format dates
cdcDeaths['death_startdate'] = pd.to_datetime(cdcDeaths['death_startdate'])
cdcDeaths['death_startdate'] = cdcDeaths['death_startdate'].dt.strftime('%Y%m%d')
cdcDeaths['death_enddate'] = pd.to_datetime(cdcDeaths['death_enddate'])
cdcDeaths['death_enddate'] = cdcDeaths['death_enddate'].dt.strftime('%Y%m%d')

In [11]:
# extract end date
endDate = list(set(cdcDeaths['death_enddate']))[0]

# add end date to variable names
cdcDeaths.rename(columns = {'death_covid': 'death_covid_' + endDate, 'death_all': 'death_all_' + endDate}, \
                 inplace = True)

In [12]:
# keep selected variables only
cdcDeaths = cdcDeaths[['stabbr', 'scfips', 'urbanrural', 'death_startdate', 'death_covid_' + endDate, \
                       'death_all_' + endDate]].copy()

In [13]:
cdcDeaths

,stabbr,scfips,urbanrural,death_startdate,death_covid_20221105,death_all_20221105
0,AK,2013,Noncore,20200101,NaN,22.0
1,AK,2020,Medium metro,20200101,739.0,7203.0
2,AK,2050,Noncore,20200101,39.0,325.0
3,AK,2068,Noncore,20200101,NaN,24.0
4,AK,2070,Noncore,20200101,NaN,97.0
...,...,...,...,...,...,...
3080,WY,56037,Micropolitan,20200101,105.0,962.0
3081,WY,56039,Micropolitan,20200101,19.0,275.0
3082,WY,56041,Micropolitan,20200101,23.0,429.0
3083,WY,56043,Noncore,20200101,29.0,230.0
3084,WY,56045,Noncore,20200101,10.0,190.0

## Step 3: Merge county-level data

In [14]:
# specify fips to be scfips
fips.rename(columns = {'fips': 'scfips'}, inplace = True)

In [15]:
# merge fips with csse
csse = fips.merge(csse, on = ['stfips', 'stname', 'ctyfips', 'ctyname', 'scfips'], how = 'outer')

In [16]:
# merge with cdc deaths
final = csse.merge(cdcDeaths, on = 'scfips', how = 'left')

In [17]:
final.columns

Index(['stfips', 'ctyfips', 'stname', 'ctyname', 'scfips',
       'confirmed_cases_20200122', 'confirmed_cases_20200123',
       'confirmed_cases_20200124', 'confirmed_cases_20200125',
       'confirmed_cases_20200126',
       ...
       'deaths_20221104', 'deaths_20221105', 'deaths_20221106',
       'deaths_20221107', 'deaths_20221108', 'stabbr', 'urbanrural',
       'death_startdate', 'death_covid_20221105', 'death_all_20221105'],
      dtype='object', length=2054)

In [18]:
final = final[['stfips', 'stabbr', 'stname', 'ctyfips', 'ctyname', 'scfips', 'urbanrural'] \
              + [x for x in list(final.columns)[5:] if x not in ['stabbr', 'urbanrural']]]

In [19]:
final['stfips'] = final['stfips'].astype('int')
final['scfips'] = final['scfips'].astype('int')
final

,stfips,stabbr,stname,ctyfips,ctyname,scfips,urbanrural,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,...,deaths_20221102,deaths_20221103,deaths_20221104,deaths_20221105,deaths_20221106,deaths_20221107,deaths_20221108,death_startdate,death_covid_20221105,death_all_20221105
0,1,AL,Alabama,1,Autauga County,1001,Medium metro,0,0,0,...,228,228,228,228,228,228,228,20200101,186.0,1519.0
1,1,AL,Alabama,3,Baldwin County,1003,Small metro,0,0,0,...,716,716,716,716,716,716,716,20200101,626.0,6975.0
2,1,AL,Alabama,5,Barbour County,1005,Noncore,0,0,0,...,103,103,103,103,103,103,103,20200101,79.0,805.0
3,1,AL,Alabama,7,Bibb County,1007,Large fringe metro,0,0,0,...,108,108,108,108,108,108,108,20200101,46.0,556.0
4,1,AL,Alabama,9,Blount County,1009,Large fringe metro,0,0,0,...,258,258,258,258,258,258,258,20200101,101.0,1496.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72,NaN,Puerto Rico,145,Vega Baja Municipio,72145,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3216,72,NaN,Puerto Rico,147,Vieques Municipio,72147,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3217,72,NaN,Puerto Rico,149,Villalba Municipio,72149,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3218,72,NaN,Puerto Rico,151,Yabucoa Municipio,72151,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3219,72,NaN,Puerto Rico,153,Yauco Municipio,72153,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [20]:
# output
final.to_csv("../Pandemic/county_casesAndDeaths.csv", index = False)

## Step 4: Update county-level dictionary

In [21]:
cDict = pd.read_csv('../Pandemic/county_data_dictionary.csv')

In [22]:
tDict = cDict[cDict['field'] == 'cases and deaths']

In [23]:
tDict.variable_name

0                       stfips
1                       stabbr
2                       stname
3                      ctyfips
4                      ctyname
5                       scfips
6                   urbanrural
7     confirmed_cases_yyyymmdd
8              deaths_yyyymmdd
9              death_startdate
10          death_all_20221022
11        death_covid_20221022
Name: variable_name, dtype: object

In [24]:
'''
# move urbanrural variable to after scfips on 4/11/2022: run once
tDict1 = tDict.iloc[:6, :]
tDict2 = tDict.iloc[9, :]
tDict3 = tDict.iloc[6:9, :]
tDict4 = tDict.iloc[10:, :]
tDict = tDict1.append(tDict2, ignore_index = True)
tDict = tDict.append(tDict3, ignore_index = True)
tDict = tDict.append(tDict4, ignore_index = True)
tDict
'''

'\n# move urbanrural variable to after scfips on 4/11/2022: run once\ntDict1 = tDict.iloc[:6, :]\ntDict2 = tDict.iloc[9, :]\ntDict3 = tDict.iloc[6:9, :]\ntDict4 = tDict.iloc[10:, :]\ntDict = tDict1.append(tDict2, ignore_index = True)\ntDict = tDict.append(tDict3, ignore_index = True)\ntDict = tDict.append(tDict4, ignore_index = True)\ntDict\n'

In [25]:
tDict.loc[10, 'variable_name'] = 'death_all_' + endDate
tDict.loc[11, 'variable_name'] = 'death_covid_' + endDate

/Users/xywu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [26]:
tDict.variable_name

0                       stfips
1                       stabbr
2                       stname
3                      ctyfips
4                      ctyname
5                       scfips
6                   urbanrural
7     confirmed_cases_yyyymmdd
8              deaths_yyyymmdd
9              death_startdate
10          death_all_20221105
11        death_covid_20221105
Name: variable_name, dtype: object

In [29]:
tDict = get_dict(final, tDict)

0
Single column for this item...
1
Single column for this item...
2
Single column for this item...
3
Single column for this item...
4
Single column for this item...
5
Single column for this item...
6
Single column for this item...
7
Multiple columns for this item...
8
Multiple columns for this item...
9
Single column for this item...
10
Single column for this item...
11
Single column for this item...

In [30]:
tDict

,variable_name,label,file,field,source,link,start_column,end_column,start_date,end_date,filename_in_release4
0,stfips,State name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,1,1,-1,-1,casesAndDeaths.csv
1,stabbr,State abbreviation,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,2,2,-1,-1,casesAndDeaths.csv
2,stname,State FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,3,3,-1,-1,casesAndDeaths.csv
3,ctyfips,County name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,4,4,-1,-1,casesAndDeaths.csv
4,ctyname,County FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,5,5,-1,-1,casesAndDeaths.csv
5,scfips,FIPS code of state-county,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,6,6,-1,-1,casesAndDeaths.csv
6,urbanrural,NCHS urban-rural classification,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,7,7,-1,-1,NaN
7,confirmed_cases_yyyymmdd,No of confirmed cases on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,8,1029,20200122,20221108,casesAndDeaths.csv
8,deaths_yyyymmdd,No of deaths on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,1030,2051,20200122,20221108,casesAndDeaths.csv
9,death_startdate,First date of data period,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,2052,2052,-1,-1,NaN
11,death_covid_20221105,"Cumulative deaths from COVID-19 as of July 28,...",county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,2053,2053,-1,-1,NaN
10,death_all_20221105,Cumulative deaths from all causes as of July 2...,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,2054,2054,-1,-1,NaN

In [31]:
cDict[cDict['field'] == 'cases and deaths'] = tDict.copy()

In [32]:
cDict

,variable_name,label,file,field,source,link,start_column,end_column,start_date,end_date,filename_in_release4
0,stfips,State name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,1,1,-1,-1,casesAndDeaths.csv
1,stabbr,State abbreviation,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,2,2,-1,-1,casesAndDeaths.csv
2,stname,State FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,3,3,-1,-1,casesAndDeaths.csv
3,ctyfips,County name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,4,4,-1,-1,casesAndDeaths.csv
4,ctyname,County FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,5,5,-1,-1,casesAndDeaths.csv
5,scfips,FIPS code of state-county,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-f...,6,6,-1,-1,casesAndDeaths.csv
6,urbanrural,NCHS urban-rural classification,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,7,7,-1,-1,NaN
7,confirmed_cases_yyyymmdd,No of confirmed cases on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,8,1029,20200122,20221108,casesAndDeaths.csv
8,deaths_yyyymmdd,No of deaths on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,1030,2051,20200122,20221108,casesAndDeaths.csv
9,death_startdate,First date of data period,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,2052,2052,-1,-1,NaN
10,death_all_20221105,Cumulative deaths from all causes as of July 2...,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,2054,2054,-1,-1,NaN
11,death_covid_20221105,"Cumulative deaths from COVID-19 as of July 28,...",county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19...,2053,2053,-1,-1,NaN
12,stfips,State name,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,1,1,-1,-1,NaN
13,stabbr,State abbreviation,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,2,2,-1,-1,NaN
14,stname,State FIPS code,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,3,3,-1,-1,NaN
15,ctyfips,County name,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,4,4,-1,-1,NaN
16,ctyname,County FIPS code,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,5,5,-1,-1,NaN
17,scfips,FIPS code of state-county,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-f...,6,6,-1,-1,NaN
18,dose1_yyyymmdd,People with at least one dose administered,county_vaccination.csv,vaccination,CDC,https://data.cdc.gov/Vaccinations/COVID-19-Vac...,7,457,20201213,20220308,NaN
19,stfips,State name,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,1,1,-1,-1,mobility_unacast.csv
20,stabbr,State abbreviation,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,2,2,-1,-1,mobility_unacast.csv
21,stname,State FIPS code,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,3,3,-1,-1,mobility_unacast.csv
22,ctyfips,County name,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,4,4,-1,-1,mobility_unacast.csv
23,ctyname,County FIPS code,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,5,5,-1,-1,mobility_unacast.csv
24,scfips,FIPS code of state-county,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-f...,6,6,-1,-1,mobility_unacast.csv
25,descartes_m50_yyyymmdd,The median of the max-distance mobility for al...,county_mobility.csv,mobility,Descartes,https://github.com/descarteslabs/DL-COVID-19,7,402,20200301,20210420,mobility_descartes.csv
26,descartes_m50_index_yyyymmdd,"The percent of normal m50 in the region, with ...",county_mobility.csv,mobility,Descartes,https://github.com/descarteslabs/DL-COVID-19,403,798,20200301,20210420,mobility_descartes.csv
27,descartes_samples_yyyymmdd,The number of samples observed in the specifie...,county_mobility.csv,mobility,Descartes,https://github.com/descarteslabs/DL-COVID-19,799,1194,20200301,20210420,mobility_descartes.csv
28,unacast_county_population_2018,The total count of the population for this seg...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1195,1195,-1,-1,mobility_unacast.csv
29,unacast_covid_yyyymmdd,Identifiers whether event date is PRE or POST ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1196,1285,20200224,20200523,mobility_unacast.csv
30,unacast_daily_distance_diff_yyyymmdd,Change of average distance traveled from basel...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1286,1375,20200224,20200523,mobility_unacast.csv
31,unacast_daily_visitation_diff_yyyymmdd,Change of visits to non-essential retail and s...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1376,1465,20200224,20200523,mobility_unacast.csv
32,unacast_encounters_rate_yyyymmdd,Rate of unique human encounters per Km² relati...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1466,1555,20200224,20200523,mobility_unacast.csv
33,unacast_grade_distance_yyyymmdd,"A, B, C, D or F score describing county's redu...",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1556,1645,20200224,20200523,mobility_unacast.csv
34,unacast_grade_encounters_yyyymmdd,"A, B, C, D, or F score describing rate of enco...",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1646,1735,20200224,20200523,mobility_unacast.csv
35,unacast_grade_total_yyyymmdd,"A, A-, B, B-, C, C-, D, D- or F score describi...",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1736,1825,20200224,20200523,mobility_unacast.csv
36,unacast_grade_visitation_yyyymmdd,"A, B, C, D or F score describing county's redu...",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1826,1915,20200224,20200523,mobility_unacast.csv
37,unacast_last_updated_yyyymmdd,Timestamp of when this data was processed and ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,1916,2005,20200224,20200523,mobility_unacast.csv
38,unacast_n_grade_distance_yyyymmdd,Corresponding number for letter grade where A ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2006,2095,20200224,20200523,mobility_unacast.csv
39,unacast_n_grade_encounters_yyyymmdd,Corresponding number for letter grade where A=...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2096,2185,20200224,20200523,mobility_unacast.csv
40,unacast_n_grade_total_yyyymmdd,Corresponding number for letter grade where A ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2186,2275,20200224,20200523,mobility_unacast.csv
41,unacast_n_grade_visitation_yyyymmdd,Corresponding number for letter grade where A ...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2276,2365,20200224,20200523,mobility_unacast.csv
42,unacast_weekday_yyyymmdd,Weekday,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distanc...,2366,2455,20200224,20200523,mobility_unacast.csv

In [33]:
# output
cDict.to_csv("../Pandemic/county_data_dictionary.csv", index = False)

# Part II: State-Level Data and Dictionary

## Step 1: Update CDC provisional deaths data by place of death and state

In [34]:
deaths = pd.read_csv('https://data.cdc.gov/api/views/uggs-hy5q/rows.csv?accessType=DOWNLOAD')
deaths.columns

Index(['Data As Of', 'Start Date', 'End Date', 'Group', 'Year', 'Month',
       'State', 'Place of Death', 'COVID-19 Deaths', 'Total Deaths',
       'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths',
       'Pneumonia, Influenza, or COVID-19 Deaths', 'Footnote'],
      dtype='object')

In [35]:
footnote = list(set(deaths.Footnote))[1]
footnote

'One or more data cells have counts between 1-9 and have been suppressed in accordance with NCHS confidentiality standards.'

In [36]:
# selected by month, state-level, and all-aces-of-deaths rows
deaths = deaths[deaths['Group'] == 'By Month'].copy()
deaths = deaths[deaths['Place of Death'] == 'Total - All Places of Death'].copy()
deaths = deaths[deaths['State'] != 'United States'].copy()
deaths.reset_index(drop = True, inplace = True)

In [37]:
# select columns
deaths = deaths[['State', 'Year', 'Month', 'COVID-19 Deaths', 'Total Deaths',\
                 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths',\
                 'Pneumonia, Influenza, or COVID-19 Deaths']].copy()

In [38]:
# generate year-month variable
deaths.loc[:, 'Year'] = deaths['Year'].astype('int')
deaths.loc[:, 'Month'] = deaths['Month'].astype('int')
# turn 1- or 2-digit month in integer into 2-digit mongh string
deaths.loc[:, 'Month'] = [str(x).zfill(2) for x in list(deaths.Month)]
# concatenate year and month info
deaths['year_month'] = deaths['Year'].astype('str') + deaths['Month']
deaths.drop(columns = ['Year', 'Month'], inplace = True)

In [39]:
# rename variables before reshape
deaths.rename(columns = {'Total Deaths': 'death_all_',\
                         'COVID-19 Deaths': 'death_covid_',\
                         'Pneumonia Deaths': 'death_pneu_',\
                         'Pneumonia and COVID-19 Deaths': 'death_cp_',\
                         'Influenza Deaths': 'death_flu_',\
                         'Pneumonia, Influenza, or COVID-19 Deaths': 'death_cpf_'},\
              inplace = True)

In [40]:
# get summary statistics before reshape to see if any suspicious records
smry = deaths[['death_all_', 'death_covid_', 'death_pneu_', 'death_cp_',\
               'death_flu_', 'death_cpf_']].describe().round(decimals = 2)
# check if any null values in all-cause death counts
print(smry['death_all_'].isnull().values.any()) # false, good to proceed
# inspect summary statistics manually
#smry.to_csv('~/Documents/ra/HPC/HPC_datahub/release6/cdc_provisional_deaths_state_summary.csv', index = True)
smry

False

,death_all_,death_covid_,death_pneu_,death_cp_,death_flu_,death_cpf_
count,1849.00,1772.00,1829.00,1679.00,937.00,1835.00
mean,5200.52,605.27,547.00,323.74,10.71,839.21
std,5491.68,1216.83,857.61,697.38,34.89,1373.95
min,0.00,0.00,0.00,0.00,0.00,0.00
25%,1388.00,69.00,121.00,35.50,0.00,170.00
50%,3837.00,219.00,305.00,105.00,0.00,429.00
75%,6502.00,621.25,600.00,333.00,11.00,920.00
max,48157.00,20065.00,13803.00,12191.00,746.00,21688.00

In [41]:
# get unique items as a prepare for dictionary
itms = list(deaths.columns)
itms.remove('State')
itms.remove('year_month')
itms = ['cdc_' + x + 'yyyymm' for x in itms]

In [42]:
# reshape from long form to wide form
deaths = deaths.pivot(index = 'State', columns = 'year_month')
deaths.columns = [x[0] + x[1] for x in list(deaths.columns)]
deaths.reset_index(drop = False, inplace = True)
deaths.rename(columns = {'State': 'stname'}, inplace = True)

In [43]:
# merge with fips code
fips = pd.read_csv('~/Documents/GitHub/COVID_DataHub/FIPS/state_territory_fips.csv')
tdf = fips.merge(deaths, on = 'stname', how = 'outer')
tdf.iloc[:, :3]
# combine NYC into NY state
tdf.loc[57, 'stname'] = 'New York'
tdf = tdf.groupby(by = ['stfips', 'stabbr', 'stname'], as_index = False).sum()

In [44]:
# add 'cdc' prefix to column names
tdf.columns = list(tdf.columns)[:3] + ['cdc_' + x for x in list(tdf.columns)[3:]]

In [45]:
tdf

,stfips,stabbr,stname,cdc_death_covid_202001,cdc_death_covid_202002,cdc_death_covid_202003,cdc_death_covid_202004,cdc_death_covid_202005,cdc_death_covid_202006,cdc_death_covid_202007,...,cdc_death_cpf_202202,cdc_death_cpf_202203,cdc_death_cpf_202204,cdc_death_cpf_202205,cdc_death_cpf_202206,cdc_death_cpf_202207,cdc_death_cpf_202208,cdc_death_cpf_202209,cdc_death_cpf_202210,cdc_death_cpf_202211
0,1.0,AL,Alabama,0.0,0.0,48.0,339.0,430.0,399.0,879.0,...,1489.0,606.0,290.0,269.0,297.0,426.0,451.0,383.0,256.0,0.0
1,2.0,AK,Alaska,0.0,0.0,0.0,0.0,0.0,0.0,12.0,...,91.0,44.0,37.0,40.0,36.0,36.0,38.0,32.0,19.0,0.0
2,4.0,AZ,Arizona,0.0,0.0,64.0,405.0,507.0,899.0,2102.0,...,1639.0,741.0,390.0,441.0,486.0,479.0,441.0,383.0,311.0,26.0
3,5.0,AR,Arkansas,0.0,0.0,10.0,61.0,78.0,169.0,274.0,...,935.0,364.0,219.0,199.0,207.0,276.0,304.0,272.0,228.0,0.0
4,6.0,CA,California,0.0,0.0,279.0,2021.0,2238.0,2065.0,3890.0,...,6352.0,2813.0,1754.0,1894.0,2133.0,2738.0,2551.0,2072.0,1449.0,37.0
5,8.0,CO,Colorado,0.0,0.0,107.0,880.0,465.0,184.0,152.0,...,794.0,407.0,265.0,334.0,360.0,337.0,295.0,287.0,208.0,0.0
6,9.0,CT,Connecticut,0.0,0.0,126.0,2457.0,1535.0,285.0,77.0,...,506.0,202.0,227.0,297.0,253.0,237.0,253.0,275.0,215.0,0.0
7,10.0,DE,Delaware,0.0,0.0,0.0,189.0,276.0,73.0,35.0,...,193.0,106.0,68.0,72.0,75.0,86.0,81.0,73.0,52.0,0.0
8,11.0,DC,District of Columbia,0.0,0.0,15.0,262.0,272.0,116.0,43.0,...,101.0,59.0,42.0,38.0,40.0,44.0,43.0,43.0,20.0,0.0
9,12.0,FL,Florida,0.0,0.0,191.0,1311.0,1131.0,1083.0,4980.0,...,4488.0,2206.0,1442.0,1572.0,2050.0,2456.0,2421.0,1837.0,1410.0,55.0
10,13.0,GA,Georgia,0.0,0.0,221.0,1084.0,808.0,518.0,1342.0,...,2024.0,840.0,498.0,433.0,543.0,736.0,804.0,609.0,422.0,0.0
11,15.0,HI,Hawaii,0.0,0.0,0.0,16.0,0.0,0.0,0.0,...,164.0,77.0,77.0,111.0,117.0,114.0,115.0,77.0,35.0,0.0
12,16.0,ID,Idaho,0.0,0.0,10.0,55.0,22.0,11.0,129.0,...,356.0,135.0,74.0,54.0,90.0,113.0,119.0,84.0,77.0,0.0
13,17.0,IL,Illinois,0.0,0.0,193.0,2448.0,2822.0,1162.0,443.0,...,1832.0,791.0,588.0,675.0,724.0,784.0,778.0,717.0,692.0,35.0
14,18.0,IN,Indiana,0.0,0.0,126.0,1143.0,961.0,471.0,333.0,...,1461.0,665.0,464.0,449.0,480.0,533.0,592.0,546.0,408.0,0.0
15,19.0,IA,Iowa,0.0,0.0,10.0,171.0,416.0,159.0,174.0,...,557.0,252.0,168.0,182.0,203.0,245.0,253.0,234.0,187.0,15.0
16,20.0,KS,Kansas,0.0,0.0,14.0,129.0,101.0,66.0,115.0,...,644.0,279.0,138.0,151.0,158.0,192.0,208.0,186.0,184.0,0.0
17,21.0,KY,Kentucky,0.0,0.0,28.0,246.0,225.0,155.0,182.0,...,1533.0,857.0,489.0,469.0,513.0,588.0,588.0,575.0,348.0,0.0
18,22.0,LA,Louisiana,0.0,0.0,398.0,1630.0,742.0,361.0,765.0,...,916.0,406.0,200.0,190.0,187.0,357.0,355.0,231.0,88.0,0.0
19,23.0,ME,Maine,0.0,0.0,0.0,51.0,43.0,14.0,24.0,...,242.0,149.0,109.0,152.0,132.0,102.0,124.0,128.0,169.0,11.0
20,24.0,MD,Maryland,0.0,0.0,48.0,1280.0,1542.0,675.0,319.0,...,833.0,455.0,353.0,391.0,404.0,397.0,454.0,404.0,373.0,21.0
21,25.0,MA,Massachusetts,0.0,0.0,130.0,3942.0,3047.0,638.0,198.0,...,865.0,431.0,373.0,528.0,425.0,400.0,429.0,416.0,473.0,23.0
22,26.0,MI,Michigan,0.0,0.0,504.0,3646.0,1297.0,302.0,191.0,...,1660.0,877.0,606.0,815.0,676.0,707.0,702.0,727.0,724.0,44.0
23,27.0,MN,Minnesota,0.0,0.0,21.0,396.0,705.0,370.0,154.0,...,740.0,380.0,260.0,360.0,368.0,363.0,355.0,345.0,371.0,30.0
24,28.0,MS,Mississippi,0.0,0.0,33.0,306.0,458.0,324.0,676.0,...,975.0,443.0,278.0,215.0,254.0,413.0,376.0,328.0,247.0,11.0
25,29.0,MO,Missouri,0.0,0.0,32.0,460.0,405.0,196.0,272.0,...,1452.0,584.0,399.0,388.0,389.0,525.0,493.0,451.0,368.0,20.0
26,30.0,MT,Montana,0.0,0.0,0.0,11.0,0.0,0.0,44.0,...,229.0,110.0,64.0,82.0,47.0,94.0,72.0,64.0,60.0,0.0
27,31.0,NE,Nebraska,0.0,0.0,0.0,76.0,111.0,92.0,48.0,...,354.0,175.0,124.0,112.0,102.0,131.0,119.0,115.0,84.0,0.0
28,32.0,NV,Nevada,0.0,0.0,35.0,228.0,162.0,91.0,366.0,...,808.0,355.0,211.0,230.0,259.0,295.0,245.0,170.0,152.0,0.0
29,33.0,NH,New Hampshire,0.0,0.0,10.0,83.0,190.0,100.0,33.0,...,188.0,80.0,86.0,90.0,84.0,72.0,68.0,85.0,101.0,14.0
30,34.0,NJ,New Jersey,0.0,0.0,701.0,9010.0,3358.0,841.0,330.0,...,1151.0,475.0,434.0,534.0,473.0,538.0,483.0,489.0,508.0,56.0
31,35.0,NM,New Mexico,0.0,0.0,0.0,164.0,264.0,131.0,168.0,...,476.0,254.0,133.0,153.0,162.0,170.0,142.0,132.0,106.0,0.0
32,36.0,NY,New York,0.0,0.0,706.0,7289.0,2720.0,629.0,238.0,...,1874.0,1005.0,949.0,1200.0,880.0,913.0,911.0,915.0,1084.0,152.0
33,37.0,NC,North Carolina,0.0,0.0,24.0,449.0,540.0,471.0,700.0,...,2337.0,1008.0,590.0,675.0,782.0,880.0,955.0,803.0,752.0,53.0
34,38.0,ND,North Dakota,0.0,0.0,0.0,26.0,53.0,20.0,30.0,...,178.0,68.0,64.0,66.0,66.0,46.0,68.0,75.0,41.0,0.0
35,39.0,OH,Ohio,0.0,0.0,98.0,1063.0,1158.0,559.0,681.0,...,2533.0,1150.0,724.0,719.0,749.0,865.0,1034.0,893.0,648.0,15.0
36,40.0,OK,Oklahoma,0.0,0.0,39.0,208.0,114.0,72.0,231.0,...,1415.0,589.0,348.0,312.0,329.0,366.0,434.0,358.0,241.0,0.0
37,41.0,OR,Oregon,0.0,0.0,28.0,105.0,59.0,60.0,102.0,...,719.0,337.0,230.0,277.0,291.0,333.0,294.0,237.0,166.0,0.0
38,42.0,PA,Pennsylvania,0.0,0.0,104.0,3502.0,2711.0,830.0,499.0,...,2377.0,1060.0,810.0,943.0,962.0,881.0,954.0,893.0,974.0,78.0
39,44.0,RI,Rhode Island,0.0,0.0,0.0,353.0,469.0,148.0,40.0,...,147.0,66.0,57.0,70.0,74.0,60.0,59.0,48.0,58.0,0.0
40,45.0,SC,South Carolina,0.0,0.0,34.0,237.0,291.0,293.0,1032.0,...,1405.0,519.0,297.0,346.0,355.0,413.0,480.0,411.0,322.0,30.0
41,46.0,SD,South Dakota,0.0,0.0,0.0,21.0,44.0,40.0,50.0,...,192.0,89.0,61.0,38.0,66.0,78.0,77.0,75.0,31.0,0.0
42,47.0,TN,Tennessee,0.0,0.0,35.0,185.0,203.0,213.0,587.0,...,2218.0,988.0,519.0,526.0,546.0,753.0,799.0,688.0,542.0,34.0
43,48.0,TX,Texas,0.0,0.0,99.0,934.0,964.0,1436.0,6971.0,...,5781.0,2422.0,1399.0,1265.0,1390.0,2023.0,1963.0,1586.0,1018.0,37.0
44,49.0,UT,Utah,0.0,0.0,0.0,44.0,70.0,68.0,146.0,...,366.0,192.0,116.0,105.0,142.0,159.0,119.0,106.0,81.0,0.0
45,50.0,VT,Vermont,0.0,0.0,16.0,38.0,0.0,0.0,0.0,...,80.0,50.0,45.0,63.0,32.0,45.0,42.0,39.0,52.0,0.0
46,51.0,VA,Virginia,0.0,0.0,62.0,753.0,854.0,395.0,370.0,...,1471.0,643.0,369.0,428.0,464.0,502.0,564.0,524.0,410.0,0.0
47,53.0,WA,Washington,0.0,0.0,289.0,549.0,275.0,159.0,292.0,...,1013.0,491.0,360.0,434.0,513.0,551.0,491.0,423.0,337.0,14.0
48,54.0,WV,West Virginia,0.0,0.0,0.0,49.0,38.0,13.0,34.0,...,678.0,398.0,265.0,234.0,255.0,270.0,283.0,271.0,225.0,16.0
49,55.0,WI,Wisconsin,0.0,0.0,44.0,311.0,288.0,164.0,166.0,...,782.0,391.0,282.0,331.0,290.0,335.0,373.0,323.0,299.0,0.0
50,56.0,WY,Wyoming,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,102.0,44.0,30.0,28.0,35.0,40.0,40.0,29.0,22.0,0.0
51,60.0,AS,American Samoa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,66.0,GU,Guam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,69.0,MP,Northern Mariana Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54,72.0,PR,Puerto Rico,0.0,0.0,22.0,78.0,35.0,16.0,91.0,...,527.0,331.0,320.0,469.0,472.0,478.0,528.0,452.0,385.0,11.0
55,74.0,UM,U.S. Minor Outlying Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,78.0,VI,U.S. Virgin Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 2: Update state-level data file

In [46]:
# read existing data
slData = pd.read_csv('~/Documents/GitHub/COVID_DataHub/Pandemic/state_level_data.csv')

# read state-level dictionary
slDict = pd.read_csv('~/Documents/GitHub/COVID_DataHub/Pandemic/state_data_dictionary.csv')

In [47]:
# find indices of state-level cases & deaths variables
rows = slDict.index[slDict['link'] == 'https://data.cdc.gov/NCHS/Provisional-COVID-19-Deaths-by-Place-of-Death-and-/uggs-hy5q'].tolist()
# get the range of indices
cols = []
for i in range(len(rows)):
    cols = cols + list(range(slDict.loc[rows[i],'start_column'] - 1,\
                             slDict.loc[rows[i], 'end_column']))
# double-check if consecutive
print(cols[0])
print(cols[-1])
cols == list(range(cols[0], cols[-1] + 1))
# if true, good to proceed: insert this deaths data to assigned location

# CAUTION: since the column number starts from 1, which is different from python's starting column index as 0,
#          need to minus one for the starting column to get the real column index. The end column index is good
#          as python doesn't include the higher bound anyway.

108
311

True

In [48]:
# split state-level data into two trunks: 
# (1) before the start of previous provisional death data
# (2) after the end of cases & deaths data
df0 = slData.iloc[:, :(cols[0])]
df2 = slData.iloc[:, (cols[-1] + 1):]

In [49]:
# columns before target for replacement (double checke to ensure no wrong indexing)
df0.columns

Index(['stname', 'stabbr', 'stfips', 'apm_cases_total_2018',
       'apm_cases_hispanic_2018', 'apm_cases_nhwhite_2018',
       'apm_cases_nhblack_2018', 'apm_cases_nhasian_2018',
       'apm_cases_totalDeathBy_20200609', 'apm_cases_totalDeathBy_20200623',
       ...
       'apm_cases_asianDeath_20201027', 'apm_cases_asianDeath_20201110',
       'apm_cases_asianDeath_20201124', 'apm_cases_asianDeath_20201208',
       'apm_cases_asianDeath_20201222', 'apm_cases_asianDeath_20210105',
       'apm_cases_asianDeath_20210119', 'apm_cases_asianDeath_20210202',
       'apm_cases_asianDeath_20210216', 'apm_cases_asianDeath_20210302'],
      dtype='object', length=108)

In [50]:
# target for replacement (double checke to ensure no wrong indexing)
slData.iloc[:, cols[0]:(cols[-1] + 1)].columns

Index(['cdc_death_covid_202001', 'cdc_death_covid_202002',
       'cdc_death_covid_202003', 'cdc_death_covid_202004',
       'cdc_death_covid_202005', 'cdc_death_covid_202006',
       'cdc_death_covid_202007', 'cdc_death_covid_202008',
       'cdc_death_covid_202009', 'cdc_death_covid_202010',
       ...
       'cdc_death_cpf_202201', 'cdc_death_cpf_202202', 'cdc_death_cpf_202203',
       'cdc_death_cpf_202204', 'cdc_death_cpf_202205', 'cdc_death_cpf_202206',
       'cdc_death_cpf_202207', 'cdc_death_cpf_202208', 'cdc_death_cpf_202209',
       'cdc_death_cpf_202210'],
      dtype='object', length=204)

In [51]:
# columns after target for replacement (double checke to ensure no wrong indexing)
df2.columns

Index(['medical_covidtracking_positive_20200113',
       'medical_covidtracking_positive_20200114',
       'medical_covidtracking_positive_20200115',
       'medical_covidtracking_positive_20200116',
       'medical_covidtracking_positive_20200117',
       'medical_covidtracking_positive_20200118',
       'medical_covidtracking_positive_20200119',
       'medical_covidtracking_positive_20200120',
       'medical_covidtracking_positive_20200121',
       'medical_covidtracking_positive_20200122',
       ...
       'apm_vac_latino_20210503', 'apm_vac_latino_20210517',
       'apm_vac_indig_20210405', 'apm_vac_indig_20210419',
       'apm_vac_indig_20210503', 'apm_vac_indig_20210517',
       'apm_vac_other_20210405', 'apm_vac_other_20210419',
       'apm_vac_other_20210503', 'apm_vac_other_20210517'],
      dtype='object', length=11750)

In [52]:
# merge provisional deaths data with the first half
df1 = df0.merge(tdf, on = ['stfips', 'stabbr', 'stname'], how = 'left')
# concatenate df0 and df1 on columns
fnl = pd.concat([df1, df2], axis = 1)

In [53]:
# output updated data
fnl.to_csv('~/Documents/GitHub/COVID_DataHub/Pandemic/state_level_data.csv', index = False)

## Step 3: Update state-level dictionary

In [54]:
# update dictionary
fdct = get_dict(fnl, slDict)

0
Single column for this item...
1
Single column for this item...
2
Single column for this item...
3
Single column for this item...
4
Single column for this item...
5
Single column for this item...
6
Single column for this item...
7
Single column for this item...
8
Multiple columns for this item...
9
Multiple columns for this item...
10
Multiple columns for this item...
11
Multiple columns for this item...
12
Multiple columns for this item...
13
Multiple columns for this item...
14
Multiple columns for this item...
15
Multiple columns for this item...
16
Multiple columns for this item...
17
Multiple columns for this item...
18
Multiple columns for this item...
19
Multiple columns for this item...
20
Multiple columns for this item...
21
Multiple columns for this item...
22
Multiple columns for this item...
23
Multiple columns for this item...
24
Multiple columns for this item...
25
Multiple columns for this item...
26
Multiple columns for this item...
27
Multiple columns for this item...
28
Multiple columns for this item...
29
Multiple columns for this item...
30
Multiple columns for this item...
31
Multiple columns for this item...
32
Multiple columns for this item...
33
Multiple columns for this item...
34
Multiple columns for this item...
35
Multiple columns for this item...
36
Multiple columns for this item...
37
Multiple columns for this item...
38
Multiple columns for this item...
39
Multiple columns for this item...
40
Multiple columns for this item...
41
Multiple columns for this item...
42
Multiple columns for this item...
43
Single column for this item...
44
Single column for this item...
45
Single column for this item...
46
Single column for this item...
47
Single column for this item...
48
Single column for this item...
49
Single column for this item...
50
Single column for this item...
51
Single column for this item...
52
Single column for this item...
53
Single column for this item...
54
Single column for this item...
55
Single column for this item...
56
Single column for this item...
57
Single column for this item...
58
Single column for this item...
59
Single column for this item...
60
Single column for this item...
61
Single column for this item...
62
Single column for this item...
63
Single column for this item...
64
Single column for this item...
65
Single column for this item...
66
Single column for this item...
67
Single column for this item...
68
Single column for this item...
69
Single column for this item...
70
Single column for this item...
71
Single column for this item...
72
Single column for this item...
73
Single column for this item...
74
Single column for this item...
75
Single column for this item...
76
Single column for this item...
77
Single column for this item...
78
Single column for this item...
79
Single column for this item...
80
Single column for this item...
81
Single column for this item...
82
Single column for this item...
83
Single column for this item...
84
Single column for this item...
85
Single column for this item...
86
Single column for this item...
87
Single column for this item...
88
Single column for this item...
89
Single column for this item...
90
Single column for this item...
91
Single column for this item...
92
Single column for this item...
93
Single column for this item...
94
Single column for this item...
95
Single column for this item...
96
Single column for this item...
97
Single column for this item...
98
Single column for this item...
99
Single column for this item...
100
Single column for this item...
101
Single column for this item...
102
Single column for this item...
103
Single column for this item...
104
Single column for this item...
105
Single column for this item...
106
Single column for this item...
107
Single column for this item...
108
Single column for this item...
109
Single column for this item...
110
Single column for this item...
111
Single column for this item...
112
Single column for this item...
113
Single column for this item...
114
Single column for this item...
115
Single column for this item...
116
Single column for this item...
117
Single column for this item...
118
Single column for this item...
119
Single column for this item...
120
Single column for this item...
121
Single column for this item...
122
Multiple columns for this item...
123
Multiple columns for this item...
124
Multiple columns for this item...
125
Multiple columns for this item...
126
Single column for this item...
127
Single column for this item...
128
Single column for this item...
129
Single column for this item...
130
Single column for this item...
131
Single column for this item...
132
Single column for this item...
133
Multiple columns for this item...
134
Multiple columns for this item...
135
Multiple columns for this item...
136
Multiple columns for this item...
137
Multiple columns for this item...
138
Multiple columns for this item...
139
Multiple columns for this item...

In [55]:
fdct

,variable_name,label,field,source,link,start_column,end_column,start_date,end_date,filename_in_release4,footnote
0,stname,State name,state identifier,Census,https://www2.census.gov/geo/docs/reference/sta...,1,1,-1,-1,NaN,NaN
1,stabbr,State abbreviation,state identifier,Census,https://www2.census.gov/geo/docs/reference/sta...,2,2,-1,-1,NaN,NaN
2,stfips,State FIPS code,state identifier,Census,https://www2.census.gov/geo/docs/reference/sta...,3,3,-1,-1,NaN,NaN
3,apm_cases_total_2018,Total population in 2018,cases and deaths,APM,https://www.apmresearchlab.org/covid/deaths-by...,4,4,-1,-1,ApmColorOfCoronavirus.csv,NaN
4,apm_cases_hispanic_2018,Hispanic pooulation in 2018,cases and deaths,APM,https://www.apmresearchlab.org/covid/deaths-by...,5,5,-1,-1,ApmColorOfCoronavirus.csv,NaN
...,...,...,...,...,...,...,...,...,...,...,...
135,apm_vac_white_yyyymmdd,Number of White persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12049,12052,20210405,20210517,NaN,NaN
136,apm_vac_asian_yyyymmdd,Number of Asian persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12053,12056,20210405,20210517,NaN,NaN
137,apm_vac_latino_yyyymmdd,Number of Latino persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12057,12060,20210405,20210517,NaN,NaN
138,apm_vac_indig_yyyymmdd,Number of Indigenous persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12061,12064,20210405,20210517,NaN,NaN
139,apm_vac_other_yyyymmdd,Number of other race/ethnicity persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-...,12065,12068,20210405,20210517,NaN,NaN

In [56]:
# output updated dictionary
fdct.to_csv('~/Documents/GitHub/COVID_DataHub/Pandemic/state_data_dictionary.csv', index = False)