# Confirmed Cases and Deaths Code
### Latest update of script on 2023-02-10

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
from datetime import datetime
from get_dict_function import get_dict 

#pd options
pd.set_option("mode.chained_assignment", "raise")
pd.set_option('display.max_colwidth', 100)
pd.set_option("display.max_rows", 100)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## FIPS code

In [2]:
# importing fips data. and rearranging the columns
fips = pd.read_csv('../FIPS/state_county_fips.csv')

# inspect the object
fips.head()

fips.shape
# remove below for previous county-level FIPS code file but tentative keep the code
'''
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips = fips.reset_index()
fips = fips.iloc[0:3142, 1:]
'''

   stfips  ctyfips   stname         ctyname  fips
0       1        1  Alabama  Autauga County  1001
1       1        3  Alabama  Baldwin County  1003
2       1        5  Alabama  Barbour County  1005
3       1        7  Alabama     Bibb County  1007
4       1        9  Alabama   Blount County  1009

(3220, 5)

'\nfips = fips.iloc[:, [1, 3, 2, 4, 5]]\n\n# Convert the \'integers\' to integers in fips file.\nfor i in range(fips.shape[0]):\n    if fips.iloc[i, 4] != \'unknown\':\n        fips.iloc[i, 4] = int(fips.iloc[i, 4])\n        fips.iloc[i, 2] = int(fips.iloc[i, 2])\n\nfips = fips.drop(fips[fips.fips == 0].index)\nfips = fips.drop(fips[fips.fips == "unknown"].index)\nfips = fips.reset_index()\nfips = fips.iloc[0:3142, 1:]\n'

# Part I: County-Level Data and Dictionary

## Step 1: Update county-level data from CSSE

In [3]:
cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
cases.drop(cases.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10]], axis=1, inplace=True)

cases.rename(columns={"FIPS":"fips"}, inplace=True)

for col in cases.columns[1:]:
    cases.rename(columns={col: "confirmed_cases_" + datetime.strptime(col, "%m/%d/%y").strftime('%Y%m%d')}, inplace=True)

cases = pd.merge(fips, cases, on="fips", how="left")
#cases

In [4]:
deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv")
deaths.drop(deaths.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10, 11]], axis=1, inplace=True)

deaths.rename(columns={"FIPS":"fips"}, inplace=True)

for col in deaths.columns[1:]:
    deaths.rename(columns={col: "deaths_" + datetime.strptime(col, "%m/%d/%y").strftime('%Y%m%d')}, inplace=True)

deaths = pd.merge(fips, deaths, on="fips", how="left")
#deaths

In [5]:
deaths = deaths.iloc[:, 5:]
csse = pd.concat([cases, deaths], axis=1)

In [6]:
# rename 'fips' column to 'scfips' to clarify it's state-county FIPS
csse.rename(columns = {'fips': 'scfips'}, inplace = True)
csse

,stfips,ctyfips,stname,ctyname,scfips,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,confirmed_cases_20200125,confirmed_cases_20200126,...,deaths_20230131,deaths_20230201,deaths_20230202,deaths_20230203,deaths_20230204,deaths_20230205,deaths_20230206,deaths_20230207,deaths_20230208,deaths_20230209
0,1,1,Alabama,Autauga County,1001,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
1,1,3,Alabama,Baldwin County,1003,0,0,0,0,0,...,723,723,723,723,723,723,723,723,723,723
2,1,5,Alabama,Barbour County,1005,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
3,1,7,Alabama,Bibb County,1007,0,0,0,0,0,...,109,109,109,109,109,109,109,109,109,109
4,1,9,Alabama,Blount County,1009,0,0,0,0,0,...,261,261,261,261,261,261,261,261,261,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72,145,Puerto Rico,Vega Baja Municipio,72145,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3216,72,147,Puerto Rico,Vieques Municipio,72147,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3217,72,149,Puerto Rico,Villalba Municipio,72149,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3218,72,151,Puerto Rico,Yabucoa Municipio,72151,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3219,72,153,Puerto Rico,Yauco Municipio,72153,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 2: Update CDC county-level cumulative provisional deaths data

In [7]:
cdcDeaths = pd.read_csv('https://data.cdc.gov/api/views/kn79-hsxy/rows.csv?accessType=DOWNLOAD')

cdcDeaths

,Date as of,Start Date,End Date,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes,Footnote
0,02/08/2023,01/01/2020,02/04/2023,AK,Aleutians East Borough,2013,Noncore,NaN,15.00,One or more data cells have counts between 1-9 and have been suppressed in accordance with NCHS ...
1,02/08/2023,01/01/2020,02/04/2023,AK,Anchorage Municipality,2020,Medium metro,600.00,5357.00,NaN
2,02/08/2023,01/01/2020,02/04/2023,AK,Bethel Census Area,2050,Noncore,32.00,255.00,NaN
3,02/08/2023,01/01/2020,02/04/2023,AK,Denali Borough,2068,Noncore,NaN,14.00,One or more data cells have counts between 1-9 and have been suppressed in accordance with NCHS ...
4,02/08/2023,01/01/2020,02/04/2023,AK,Dillingham Census Area,2070,Noncore,NaN,73.00,One or more data cells have counts between 1-9 and have been suppressed in accordance with NCHS ...
...,...,...,...,...,...,...,...,...,...,...
3080,02/08/2023,01/01/2020,02/04/2023,WY,Sweetwater County,56037,Micropolitan,111.00,1059.00,NaN
3081,02/08/2023,01/01/2020,02/04/2023,WY,Teton County,56039,Micropolitan,19.00,301.00,NaN
3082,02/08/2023,01/01/2020,02/04/2023,WY,Uinta County,56041,Micropolitan,23.00,469.00,NaN
3083,02/08/2023,01/01/2020,02/04/2023,WY,Washakie County,56043,Noncore,31.00,254.00,NaN
3084,02/08/2023,01/01/2020,02/04/2023,WY,Weston County,56045,Noncore,12.00,208.00,NaN

In [8]:
# rename variables
cdcDeaths.rename(columns = {'State': 'stabbr', 'County name': 'ctyname', 'FIPS County Code': 'scfips',\
                            'Urban Rural Code': 'urbanrural', 'Deaths involving COVID-19': 'death_covid',\
                            'Deaths from All Causes': 'death_all', 'Start Date': 'death_startdate',\
                            'End Date': 'death_enddate'}, \
                 inplace = True)

In [9]:
# format dates
cdcDeaths['death_startdate'] = pd.to_datetime(cdcDeaths['death_startdate'])
cdcDeaths['death_startdate'] = cdcDeaths['death_startdate'].dt.strftime('%Y%m%d')
cdcDeaths['death_enddate'] = pd.to_datetime(cdcDeaths['death_enddate'])
cdcDeaths['death_enddate'] = cdcDeaths['death_enddate'].dt.strftime('%Y%m%d')

In [10]:
# extract end date
endDate = list(set(cdcDeaths['death_enddate']))[0]

# add end date to variable names
cdcDeaths.rename(columns = {'death_covid': 'death_covid_' + endDate, 'death_all': 'death_all_' + endDate}, \
                 inplace = True)

In [11]:
# keep selected variables only
cdcDeaths = cdcDeaths[['stabbr', 'scfips', 'urbanrural', 'death_startdate', 'death_covid_' + endDate, \
                       'death_all_' + endDate]].copy()

In [12]:
cdcDeaths

,stabbr,scfips,urbanrural,death_startdate,death_covid_20230204,death_all_20230204
0,AK,2013,Noncore,20200101,NaN,15.00
1,AK,2020,Medium metro,20200101,600.00,5357.00
2,AK,2050,Noncore,20200101,32.00,255.00
3,AK,2068,Noncore,20200101,NaN,14.00
4,AK,2070,Noncore,20200101,NaN,73.00
...,...,...,...,...,...,...
3080,WY,56037,Micropolitan,20200101,111.00,1059.00
3081,WY,56039,Micropolitan,20200101,19.00,301.00
3082,WY,56041,Micropolitan,20200101,23.00,469.00
3083,WY,56043,Noncore,20200101,31.00,254.00
3084,WY,56045,Noncore,20200101,12.00,208.00

## Step 3: Merge county-level data

In [13]:
# specify fips to be scfips
fips.rename(columns = {'fips': 'scfips'}, inplace = True)

In [14]:
# merge fips with csse
csse = fips.merge(csse, on = ['stfips', 'stname', 'ctyfips', 'ctyname', 'scfips'], how = 'outer')

In [15]:
# merge with cdc deaths
final = csse.merge(cdcDeaths, on = 'scfips', how = 'left')

In [16]:
final.columns

Index(['stfips', 'ctyfips', 'stname', 'ctyname', 'scfips',
       'confirmed_cases_20200122', 'confirmed_cases_20200123',
       'confirmed_cases_20200124', 'confirmed_cases_20200125',
       'confirmed_cases_20200126',
       ...
       'deaths_20230205', 'deaths_20230206', 'deaths_20230207',
       'deaths_20230208', 'deaths_20230209', 'stabbr', 'urbanrural',
       'death_startdate', 'death_covid_20230204', 'death_all_20230204'],
      dtype='object', length=2240)

In [17]:
final = final[['stfips', 'stabbr', 'stname', 'ctyfips', 'ctyname', 'scfips', 'urbanrural'] \
              + [x for x in list(final.columns)[5:] if x not in ['stabbr', 'urbanrural']]]

In [18]:
final['stfips'] = final['stfips'].astype('int')
final['scfips'] = final['scfips'].astype('int')
final

,stfips,stabbr,stname,ctyfips,ctyname,scfips,urbanrural,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,...,deaths_20230203,deaths_20230204,deaths_20230205,deaths_20230206,deaths_20230207,deaths_20230208,deaths_20230209,death_startdate,death_covid_20230204,death_all_20230204
0,1,AL,Alabama,1,Autauga County,1001,Medium metro,0,0,0,...,230,230,230,230,230,230,230,20200101,189.00,1644.00
1,1,AL,Alabama,3,Baldwin County,1003,Small metro,0,0,0,...,723,723,723,723,723,723,723,20200101,636.00,7564.00
2,1,AL,Alabama,5,Barbour County,1005,Noncore,0,0,0,...,103,103,103,103,103,103,103,20200101,79.00,871.00
3,1,AL,Alabama,7,Bibb County,1007,Large fringe metro,0,0,0,...,109,109,109,109,109,109,109,20200101,46.00,600.00
4,1,AL,Alabama,9,Blount County,1009,Large fringe metro,0,0,0,...,261,261,261,261,261,261,261,20200101,102.00,1634.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72,NaN,Puerto Rico,145,Vega Baja Municipio,72145,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3216,72,NaN,Puerto Rico,147,Vieques Municipio,72147,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3217,72,NaN,Puerto Rico,149,Villalba Municipio,72149,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3218,72,NaN,Puerto Rico,151,Yabucoa Municipio,72151,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3219,72,NaN,Puerto Rico,153,Yauco Municipio,72153,NaN,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [19]:
# output
final.to_csv("../Pandemic/county_casesAndDeaths.csv", index = False)

## Step 4: Update county-level dictionary

In [20]:
cDict = pd.read_csv('../Pandemic/county_data_dictionary.csv')

In [21]:
tDict = cDict[cDict['field'] == 'cases and deaths']

In [22]:
tDict.variable_name

0                       stfips
1                       stabbr
2                       stname
3                      ctyfips
4                      ctyname
5                       scfips
6                   urbanrural
7     confirmed_cases_yyyymmdd
8              deaths_yyyymmdd
9              death_startdate
10          death_all_20230128
11        death_covid_20230128
Name: variable_name, dtype: object

In [23]:
'''
# move urbanrural variable to after scfips on 4/11/2022: run once
tDict1 = tDict.iloc[:6, :]
tDict2 = tDict.iloc[9, :]
tDict3 = tDict.iloc[6:9, :]
tDict4 = tDict.iloc[10:, :]
tDict = tDict1.append(tDict2, ignore_index = True)
tDict = tDict.append(tDict3, ignore_index = True)
tDict = tDict.append(tDict4, ignore_index = True)
tDict
'''

'\n# move urbanrural variable to after scfips on 4/11/2022: run once\ntDict1 = tDict.iloc[:6, :]\ntDict2 = tDict.iloc[9, :]\ntDict3 = tDict.iloc[6:9, :]\ntDict4 = tDict.iloc[10:, :]\ntDict = tDict1.append(tDict2, ignore_index = True)\ntDict = tDict.append(tDict3, ignore_index = True)\ntDict = tDict.append(tDict4, ignore_index = True)\ntDict\n'

In [24]:
tDict.loc[10, 'variable_name'] = 'death_all_' + endDate
tDict.loc[11, 'variable_name'] = 'death_covid_' + endDate

tDict.variable_name

0                       stfips
1                       stabbr
2                       stname
3                      ctyfips
4                      ctyname
5                       scfips
6                   urbanrural
7     confirmed_cases_yyyymmdd
8              deaths_yyyymmdd
9              death_startdate
10          death_all_20230204
11        death_covid_20230204
Name: variable_name, dtype: object

In [25]:
tDict = get_dict(final, tDict)

0
Single column for this item...
1
Single column for this item...
2
Single column for this item...
3
Single column for this item...
4
Single column for this item...
5
Single column for this item...
6
Single column for this item...
7
Multiple columns for this item...
8
Multiple columns for this item...
9
Single column for this item...
10
Single column for this item...
11
Single column for this item...

In [26]:
tDict

,variable_name,label,file,field,source,link,start_column,end_column,start_date,end_date,filename_in_release4
0,stfips,State name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,1,1,-1,-1,casesAndDeaths.csv
1,stabbr,State abbreviation,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,2,2,-1,-1,casesAndDeaths.csv
2,stname,State FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,3,3,-1,-1,casesAndDeaths.csv
3,ctyfips,County name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,4,4,-1,-1,casesAndDeaths.csv
4,ctyname,County FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,5,5,-1,-1,casesAndDeaths.csv
5,scfips,FIPS code of state-county,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,6,6,-1,-1,casesAndDeaths.csv
6,urbanrural,NCHS urban-rural classification,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-in-the-United-St/kn79-hsxy,7,7,-1,-1,NaN
7,confirmed_cases_yyyymmdd,No of confirmed cases on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,8,1122,20200122,20230209,casesAndDeaths.csv
8,deaths_yyyymmdd,No of deaths on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,1123,2237,20200122,20230209,casesAndDeaths.csv
9,death_startdate,First date of data period,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-in-the-United-St/kn79-hsxy,2238,2238,-1,-1,NaN
11,death_covid_20230204,"Cumulative deaths from COVID-19 as of July 28, 2021",county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-in-the-United-St/kn79-hsxy,2239,2239,-1,-1,NaN
10,death_all_20230204,Cumulative deaths from all causes as of July 28 2021,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-in-the-United-St/kn79-hsxy,2240,2240,-1,-1,NaN

In [27]:
cDict[cDict['field'] == 'cases and deaths'] = tDict.copy()

cDict

,variable_name,label,file,field,source,link,start_column,end_column,start_date,end_date,filename_in_release4
0,stfips,State name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,1,1,-1,-1,casesAndDeaths.csv
1,stabbr,State abbreviation,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,2,2,-1,-1,casesAndDeaths.csv
2,stname,State FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,3,3,-1,-1,casesAndDeaths.csv
3,ctyfips,County name,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,4,4,-1,-1,casesAndDeaths.csv
4,ctyname,County FIPS code,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,5,5,-1,-1,casesAndDeaths.csv
5,scfips,FIPS code of state-county,county_casesAndDeaths.csv,cases and deaths,Census,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,6,6,-1,-1,casesAndDeaths.csv
6,urbanrural,NCHS urban-rural classification,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-in-the-United-St/kn79-hsxy,7,7,-1,-1,NaN
7,confirmed_cases_yyyymmdd,No of confirmed cases on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,8,1122,20200122,20230209,casesAndDeaths.csv
8,deaths_yyyymmdd,No of deaths on yyyymmdd,county_casesAndDeaths.csv,cases and deaths,CSSE,https://github.com/CSSEGISandData/COVID-19,1123,2237,20200122,20230209,casesAndDeaths.csv
9,death_startdate,First date of data period,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-in-the-United-St/kn79-hsxy,2238,2238,-1,-1,NaN
10,death_all_20230204,Cumulative deaths from all causes as of July 28 2021,county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-in-the-United-St/kn79-hsxy,2240,2240,-1,-1,NaN
11,death_covid_20230204,"Cumulative deaths from COVID-19 as of July 28, 2021",county_casesAndDeaths.csv,cases and deaths,CDC,https://data.cdc.gov/NCHS/Provisional-COVID-19-Death-Counts-in-the-United-St/kn79-hsxy,2239,2239,-1,-1,NaN
12,stfips,State name,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,1,1,-1,-1,NaN
13,stabbr,State abbreviation,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,2,2,-1,-1,NaN
14,stname,State FIPS code,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,3,3,-1,-1,NaN
15,ctyfips,County name,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,4,4,-1,-1,NaN
16,ctyname,County FIPS code,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,5,5,-1,-1,NaN
17,scfips,FIPS code of state-county,county_vaccination.csv,vaccination,CDC,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,6,6,-1,-1,NaN
18,dose1_yyyymmdd,People with at least one dose administered,county_vaccination.csv,vaccination,CDC,https://data.cdc.gov/Vaccinations/COVID-19-Vaccinations-in-the-United-States-County/8xkx-amqh,7,457,20201213,20220308,NaN
19,stfips,State name,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,1,1,-1,-1,mobility_unacast.csv
20,stabbr,State abbreviation,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,2,2,-1,-1,mobility_unacast.csv
21,stname,State FIPS code,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,3,3,-1,-1,mobility_unacast.csv
22,ctyfips,County name,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,4,4,-1,-1,mobility_unacast.csv
23,ctyname,County FIPS code,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,5,5,-1,-1,mobility_unacast.csv
24,scfips,FIPS code of state-county,county_mobility.csv,mobility,Unacast,https://www.census.gov/geographies/reference-files/2018/demo/popest/2018-fips.html,6,6,-1,-1,mobility_unacast.csv
25,descartes_m50_yyyymmdd,The median of the max-distance mobility for all samples in the specified region.,county_mobility.csv,mobility,Descartes,https://github.com/descarteslabs/DL-COVID-19,7,402,20200301,20210420,mobility_descartes.csv
26,descartes_m50_index_yyyymmdd,"The percent of normal m50 in the region, with normal m50 defined during 2020-02-17 to 2020-03-07.",county_mobility.csv,mobility,Descartes,https://github.com/descarteslabs/DL-COVID-19,403,798,20200301,20210420,mobility_descartes.csv
27,descartes_samples_yyyymmdd,The number of samples observed in the specified region.,county_mobility.csv,mobility,Descartes,https://github.com/descarteslabs/DL-COVID-19,799,1194,20200301,20210420,mobility_descartes.csv
28,unacast_county_population_2018,The total count of the population for this segment based on 2018 census data,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1195,1195,-1,-1,mobility_unacast.csv
29,unacast_covid_yyyymmdd,Identifiers whether event date is PRE or POST COVID-19 outbreak in the US <March 8th is the last...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1196,1285,20200224,20200523,mobility_unacast.csv
30,unacast_daily_distance_diff_yyyymmdd,Change of average distance traveled from baseline (avg. distance traveled for same day of week d...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1286,1375,20200224,20200523,mobility_unacast.csv
31,unacast_daily_visitation_diff_yyyymmdd,Change of visits to non-essential retail and services from baseline (avg. visits for same day of...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1376,1465,20200224,20200523,mobility_unacast.csv
32,unacast_encounters_rate_yyyymmdd,Rate of unique human encounters per Km² relative to national pre-Covid-19 baseline (median of th...,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1466,1555,20200224,20200523,mobility_unacast.csv
33,unacast_grade_distance_yyyymmdd,"A, B, C, D or F score describing county's reduction in average distance traveled",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1556,1645,20200224,20200523,mobility_unacast.csv
34,unacast_grade_encounters_yyyymmdd,"A, B, C, D, or F score describing rate of encounters as a fraction of national pre-Covid-19 base...",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1646,1735,20200224,20200523,mobility_unacast.csv
35,unacast_grade_total_yyyymmdd,"A, A-, B, B-, C, C-, D, D- or F score describing county's social distancing",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1736,1825,20200224,20200523,mobility_unacast.csv
36,unacast_grade_visitation_yyyymmdd,"A, B, C, D or F score describing county's reduction in non-essential visitation",county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1826,1915,20200224,20200523,mobility_unacast.csv
37,unacast_last_updated_yyyymmdd,Timestamp of when this data was processed and updated,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,1916,2005,20200224,20200523,mobility_unacast.csv
38,unacast_n_grade_distance_yyyymmdd,Corresponding number for letter grade where A = 5 and F = 1,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,2006,2095,20200224,20200523,mobility_unacast.csv
39,unacast_n_grade_encounters_yyyymmdd,Corresponding number for letter grade where A=5 and F=1,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,2096,2185,20200224,20200523,mobility_unacast.csv
40,unacast_n_grade_total_yyyymmdd,Corresponding number for letter grade where A = 5 and F = 1,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,2186,2275,20200224,20200523,mobility_unacast.csv
41,unacast_n_grade_visitation_yyyymmdd,Corresponding number for letter grade where A = 5 and F = 1,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,2276,2365,20200224,20200523,mobility_unacast.csv
42,unacast_weekday_yyyymmdd,Weekday,county_mobility.csv,mobility,Unacast,https://www.unacast.com/covid19/social-distancing-scoreboard,2366,2455,20200224,20200523,mobility_unacast.csv

In [28]:
# output
cDict.to_csv("../Pandemic/county_data_dictionary.csv", index = False)

# Part II: State-Level Data and Dictionary

## Step 1: Update CDC provisional deaths data by place of death and state

In [29]:
deaths = pd.read_csv('https://data.cdc.gov/api/views/uggs-hy5q/rows.csv?accessType=DOWNLOAD')
deaths.columns

deaths['Footnote'].unique()

footnote = list(set(deaths.Footnote))[1]
footnote

Index(['Data As Of', 'Start Date', 'End Date', 'Group', 'Year', 'Month',
       'State', 'Place of Death', 'COVID-19 Deaths', 'Total Deaths',
       'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths',
       'Pneumonia, Influenza, or COVID-19 Deaths', 'Footnote'],
      dtype='object')

array([nan,
       'One or more data cells have counts between 1-9 and have been suppressed in accordance with NCHS confidentiality standards.'],
      dtype=object)

'One or more data cells have counts between 1-9 and have been suppressed in accordance with NCHS confidentiality standards.'

In [30]:
# selected by month, state-level, and all-aces-of-deaths rows
deaths = deaths[deaths['Group'] == 'By Month'].copy()
deaths = deaths[deaths['Place of Death'] == 'Total - All Places of Death'].copy()
deaths = deaths[deaths['State'] != 'United States'].copy()
deaths.reset_index(drop = True, inplace = True)

In [31]:
# select columns
deaths = deaths[['State', 'Year', 'Month', 'COVID-19 Deaths', 'Total Deaths',\
                 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths',\
                 'Pneumonia, Influenza, or COVID-19 Deaths']].copy()

In [32]:
# generate year-month variable
deaths['Year'] = deaths['Year'].astype('Int64')
deaths['Month'] = deaths['Month'].astype('Int64')
# turn 1- or 2-digit month in integer into 2-digit mongh string
deaths['Month'] = [str(x).zfill(2) for x in list(deaths.Month)]
# concatenate year and month info
deaths['year_month'] = deaths['Year'].astype('str') + deaths['Month']
deaths.drop(columns = ['Year', 'Month'], inplace = True)

In [33]:
# rename variables before reshape
deaths.rename(columns = {'Total Deaths': 'death_all_',\
                         'COVID-19 Deaths': 'death_covid_',\
                         'Pneumonia Deaths': 'death_pneu_',\
                         'Pneumonia and COVID-19 Deaths': 'death_cp_',\
                         'Influenza Deaths': 'death_flu_',\
                         'Pneumonia, Influenza, or COVID-19 Deaths': 'death_cpf_'},\
              inplace = True)

In [34]:
# get summary statistics before reshape to see if any suspicious records
smry = deaths[['death_all_', 'death_covid_', 'death_pneu_', 'death_cp_',\
               'death_flu_', 'death_cpf_']].describe().round(decimals = 2)
# check if any null values in all-cause death counts
print(smry['death_all_'].isnull().values.any()) # false, good to proceed
# inspect summary statistics manually
#smry.to_csv('~/Documents/ra/HPC/HPC_datahub/release6/cdc_provisional_deaths_state_summary.csv', index = True)
smry

False

,death_all_,death_covid_,death_pneu_,death_cp_,death_flu_,death_cpf_
count,2009.00,1936.00,1993.00,1827.00,1072.00,1995.00
mean,5205.39,573.79,532.47,304.97,16.28,818.19
std,5468.79,1170.79,830.63,672.12,40.35,1329.12
min,0.00,0.00,0.00,0.00,0.00,0.00
25%,1405.00,68.75,118.00,35.00,0.00,170.00
50%,3861.00,213.50,305.00,100.00,0.00,432.00
75%,6517.00,580.00,588.00,292.00,18.00,902.00
max,48157.00,20065.00,13803.00,12191.00,746.00,21688.00

In [35]:
# get unique items as a prepare for dictionary
itms = list(deaths.columns)
itms.remove('State')
itms.remove('year_month')
itms = ['cdc_' + x + 'yyyymm' for x in itms]

In [36]:
# reshape from long form to wide form
deaths = deaths.pivot(index = 'State', columns = 'year_month')
deaths.columns = [x[0] + x[1] for x in list(deaths.columns)]
deaths.reset_index(drop = False, inplace = True)
deaths.rename(columns = {'State': 'stname'}, inplace = True)

In [37]:
# merge with fips code
fips = pd.read_csv('../FIPS/state_territory_fips.csv')
tdf = fips.merge(deaths, on = 'stname', how = 'outer')
tdf.iloc[:, :3]
# combine NYC into NY state
tdf.loc[57, 'stname'] = 'New York'
tdf = tdf.groupby(by = ['stfips', 'stabbr', 'stname'], as_index = False).sum()

    stfips stabbr                       stname
0     1.00     AL                      Alabama
1     2.00     AK                       Alaska
2     4.00     AZ                      Arizona
3     5.00     AR                     Arkansas
4     6.00     CA                   California
5     8.00     CO                     Colorado
6     9.00     CT                  Connecticut
7    10.00     DE                     Delaware
8    11.00     DC         District of Columbia
9    12.00     FL                      Florida
10   13.00     GA                      Georgia
11   15.00     HI                       Hawaii
12   16.00     ID                        Idaho
13   17.00     IL                     Illinois
14   18.00     IN                      Indiana
15   19.00     IA                         Iowa
16   20.00     KS                       Kansas
17   21.00     KY                     Kentucky
18   22.00     LA                    Louisiana
19   23.00     ME                        Maine
20   24.00     MD                     Maryland
21   25.00     MA                Massachusetts
22   26.00     MI                     Michigan
23   27.00     MN                    Minnesota
24   28.00     MS                  Mississippi
25   29.00     MO                     Missouri
26   30.00     MT                      Montana
27   31.00     NE                     Nebraska
28   32.00     NV                       Nevada
29   33.00     NH                New Hampshire
30   34.00     NJ                   New Jersey
31   35.00     NM                   New Mexico
32   36.00     NY                     New York
33   37.00     NC               North Carolina
34   38.00     ND                 North Dakota
35   39.00     OH                         Ohio
36   40.00     OK                     Oklahoma
37   41.00     OR                       Oregon
38   42.00     PA                 Pennsylvania
39   44.00     RI                 Rhode Island
40   45.00     SC               South Carolina
41   46.00     SD                 South Dakota
42   47.00     TN                    Tennessee
43   48.00     TX                        Texas
44   49.00     UT                         Utah
45   50.00     VT                      Vermont
46   51.00     VA                     Virginia
47   53.00     WA                   Washington
48   54.00     WV                West Virginia
49   55.00     WI                    Wisconsin
50   56.00     WY                      Wyoming
51   60.00     AS               American Samoa
52   66.00     GU                         Guam
53   69.00     MP     Northern Mariana Islands
54   72.00     PR                  Puerto Rico
55   74.00     UM  U.S. Minor Outlying Islands
56   78.00     VI          U.S. Virgin Islands
57     NaN    NaN                New York City

In [38]:
# add 'cdc' prefix to column names
tdf.columns = list(tdf.columns)[:3] + ['cdc_' + x for x in list(tdf.columns)[3:]]

In [39]:
tdf

,stfips,stabbr,stname,cdc_death_covid_202001,cdc_death_covid_202002,cdc_death_covid_202003,cdc_death_covid_202004,cdc_death_covid_202005,cdc_death_covid_202006,cdc_death_covid_202007,...,cdc_death_cpf_202205,cdc_death_cpf_202206,cdc_death_cpf_202207,cdc_death_cpf_202208,cdc_death_cpf_202209,cdc_death_cpf_202210,cdc_death_cpf_202211,cdc_death_cpf_202212,cdc_death_cpf_202301,cdc_death_cpf_202302
0,1.00,AL,Alabama,0.00,0.00,48.00,339.00,430.00,399.00,879.00,...,270.00,299.00,428.00,459.00,394.00,336.00,336.00,465.00,412.00,0.00
1,2.00,AK,Alaska,0.00,0.00,0.00,0.00,0.00,0.00,12.00,...,40.00,36.00,36.00,41.00,34.00,26.00,24.00,29.00,18.00,0.00
2,4.00,AZ,Arizona,0.00,0.00,64.00,405.00,507.00,899.00,2102.00,...,440.00,484.00,479.00,448.00,396.00,378.00,573.00,910.00,494.00,19.00
3,5.00,AR,Arkansas,0.00,0.00,10.00,61.00,78.00,169.00,274.00,...,200.00,210.00,287.00,315.00,284.00,263.00,289.00,408.00,324.00,0.00
4,6.00,CA,California,0.00,0.00,279.00,2021.00,2238.00,2065.00,3890.00,...,1901.00,2143.00,2767.00,2596.00,2138.00,1843.00,2417.00,3802.00,2246.00,0.00
5,8.00,CO,Colorado,0.00,0.00,107.00,880.00,465.00,184.00,152.00,...,334.00,360.00,339.00,298.00,307.00,300.00,444.00,486.00,334.00,0.00
6,9.00,CT,Connecticut,0.00,0.00,126.00,2457.00,1535.00,285.00,77.00,...,298.00,252.00,236.00,256.00,279.00,323.00,309.00,481.00,339.00,0.00
7,10.00,DE,Delaware,0.00,0.00,0.00,189.00,276.00,73.00,35.00,...,72.00,75.00,86.00,81.00,75.00,70.00,83.00,111.00,80.00,0.00
8,11.00,DC,District of Columbia,0.00,0.00,15.00,262.00,272.00,116.00,43.00,...,38.00,40.00,44.00,44.00,47.00,41.00,57.00,63.00,39.00,0.00
9,12.00,FL,Florida,0.00,0.00,191.00,1311.00,1131.00,1083.00,4980.00,...,1576.00,2062.00,2469.00,2442.00,1867.00,1711.00,1558.00,2013.00,1993.00,42.00
10,13.00,GA,Georgia,0.00,0.00,221.00,1084.00,808.00,518.00,1342.00,...,435.00,548.00,747.00,826.00,639.00,595.00,572.00,729.00,636.00,0.00
11,15.00,HI,Hawaii,0.00,0.00,0.00,16.00,0.00,0.00,0.00,...,111.00,119.00,116.00,121.00,83.00,88.00,103.00,98.00,86.00,0.00
12,16.00,ID,Idaho,0.00,0.00,10.00,55.00,22.00,11.00,129.00,...,54.00,90.00,113.00,121.00,89.00,93.00,104.00,155.00,108.00,0.00
13,17.00,IL,Illinois,0.00,0.00,193.00,2448.00,2822.00,1162.00,443.00,...,678.00,731.00,786.00,787.00,735.00,797.00,866.00,1238.00,891.00,54.00
14,18.00,IN,Indiana,0.00,0.00,126.00,1143.00,961.00,471.00,333.00,...,449.00,482.00,534.00,599.00,560.00,526.00,546.00,919.00,529.00,0.00
15,19.00,IA,Iowa,0.00,0.00,10.00,171.00,416.00,159.00,174.00,...,183.00,204.00,246.00,255.00,242.00,230.00,226.00,439.00,244.00,14.00
16,20.00,KS,Kansas,0.00,0.00,14.00,129.00,101.00,66.00,115.00,...,151.00,158.00,195.00,210.00,192.00,209.00,202.00,330.00,262.00,0.00
17,21.00,KY,Kentucky,0.00,0.00,28.00,246.00,225.00,155.00,182.00,...,473.00,514.00,589.00,594.00,609.00,548.00,641.00,809.00,475.00,0.00
18,22.00,LA,Louisiana,0.00,0.00,398.00,1630.00,742.00,361.00,765.00,...,191.00,189.00,367.00,366.00,266.00,232.00,227.00,251.00,156.00,0.00
19,23.00,ME,Maine,0.00,0.00,0.00,51.00,43.00,14.00,24.00,...,152.00,132.00,101.00,124.00,130.00,180.00,137.00,193.00,178.00,0.00
20,24.00,MD,Maryland,0.00,0.00,48.00,1280.00,1542.00,675.00,319.00,...,390.00,405.00,398.00,458.00,408.00,427.00,457.00,601.00,531.00,30.00
21,25.00,MA,Massachusetts,0.00,0.00,130.00,3942.00,3047.00,638.00,198.00,...,528.00,426.00,404.00,441.00,424.00,541.00,507.00,718.00,700.00,18.00
22,26.00,MI,Michigan,0.00,0.00,504.00,3646.00,1297.00,302.00,191.00,...,817.00,678.00,709.00,710.00,744.00,855.00,883.00,984.00,839.00,29.00
23,27.00,MN,Minnesota,0.00,0.00,21.00,396.00,705.00,370.00,154.00,...,360.00,368.00,362.00,358.00,354.00,428.00,487.00,527.00,426.00,29.00
24,28.00,MS,Mississippi,0.00,0.00,33.00,306.00,458.00,324.00,676.00,...,215.00,255.00,413.00,378.00,331.00,303.00,332.00,377.00,340.00,10.00
25,29.00,MO,Missouri,0.00,0.00,32.00,460.00,405.00,196.00,272.00,...,392.00,392.00,526.00,509.00,474.00,459.00,477.00,760.00,484.00,17.00
26,30.00,MT,Montana,0.00,0.00,0.00,11.00,0.00,0.00,44.00,...,82.00,47.00,94.00,72.00,64.00,75.00,81.00,97.00,88.00,0.00
27,31.00,NE,Nebraska,0.00,0.00,0.00,76.00,111.00,92.00,48.00,...,112.00,102.00,131.00,120.00,119.00,112.00,155.00,220.00,139.00,0.00
28,32.00,NV,Nevada,0.00,0.00,35.00,228.00,162.00,91.00,366.00,...,232.00,259.00,298.00,248.00,183.00,193.00,304.00,393.00,234.00,0.00
29,33.00,NH,New Hampshire,0.00,0.00,10.00,83.00,190.00,100.00,33.00,...,91.00,84.00,73.00,69.00,85.00,109.00,117.00,117.00,150.00,0.00
30,34.00,NJ,New Jersey,0.00,0.00,701.00,9010.00,3358.00,841.00,330.00,...,535.00,474.00,545.00,491.00,504.00,574.00,651.00,804.00,710.00,43.00
31,35.00,NM,New Mexico,0.00,0.00,0.00,164.00,264.00,131.00,168.00,...,153.00,165.00,172.00,149.00,145.00,156.00,190.00,259.00,143.00,0.00
32,36.00,NY,New York,0.00,0.00,706.00,7289.00,2720.00,629.00,238.00,...,1204.00,884.00,923.00,929.00,934.00,1177.00,1138.00,1592.00,1348.00,109.00
33,37.00,NC,North Carolina,0.00,0.00,24.00,449.00,540.00,471.00,700.00,...,681.00,783.00,885.00,960.00,813.00,871.00,934.00,1108.00,1089.00,18.00
34,38.00,ND,North Dakota,0.00,0.00,0.00,26.00,53.00,20.00,30.00,...,66.00,66.00,46.00,68.00,76.00,53.00,50.00,84.00,69.00,0.00
35,39.00,OH,Ohio,0.00,0.00,98.00,1063.00,1158.00,559.00,681.00,...,720.00,749.00,869.00,1055.00,931.00,939.00,1062.00,1384.00,922.00,17.00
36,40.00,OK,Oklahoma,0.00,0.00,39.00,208.00,114.00,72.00,231.00,...,319.00,335.00,381.00,456.00,379.00,348.00,362.00,559.00,409.00,0.00
37,41.00,OR,Oregon,0.00,0.00,28.00,105.00,59.00,60.00,102.00,...,279.00,293.00,340.00,298.00,241.00,238.00,281.00,495.00,242.00,0.00
38,42.00,PA,Pennsylvania,0.00,0.00,104.00,3502.00,2711.00,830.00,499.00,...,942.00,964.00,885.00,969.00,919.00,1103.00,1172.00,1452.00,1304.00,62.00
39,44.00,RI,Rhode Island,0.00,0.00,0.00,353.00,469.00,148.00,40.00,...,70.00,72.00,59.00,59.00,52.00,60.00,71.00,108.00,96.00,0.00
40,45.00,SC,South Carolina,0.00,0.00,34.00,237.00,291.00,293.00,1032.00,...,346.00,357.00,415.00,485.00,425.00,390.00,387.00,519.00,557.00,26.00
41,46.00,SD,South Dakota,0.00,0.00,0.00,21.00,44.00,40.00,50.00,...,38.00,66.00,78.00,77.00,79.00,78.00,91.00,106.00,34.00,0.00
42,47.00,TN,Tennessee,0.00,0.00,35.00,185.00,203.00,213.00,587.00,...,527.00,551.00,757.00,810.00,705.00,666.00,752.00,856.00,763.00,31.00
43,48.00,TX,Texas,0.00,0.00,99.00,934.00,964.00,1436.00,6971.00,...,1270.00,1399.00,2048.00,1997.00,1674.00,1432.00,1552.00,2177.00,1735.00,29.00
44,49.00,UT,Utah,0.00,0.00,0.00,44.00,70.00,68.00,146.00,...,105.00,142.00,159.00,123.00,115.00,99.00,144.00,224.00,139.00,0.00
45,50.00,VT,Vermont,0.00,0.00,16.00,38.00,0.00,0.00,0.00,...,63.00,32.00,45.00,45.00,39.00,61.00,54.00,71.00,58.00,0.00
46,51.00,VA,Virginia,0.00,0.00,62.00,753.00,854.00,395.00,370.00,...,428.00,465.00,504.00,564.00,527.00,498.00,490.00,699.00,614.00,0.00
47,53.00,WA,Washington,0.00,0.00,289.00,549.00,275.00,159.00,292.00,...,439.00,514.00,555.00,504.00,441.00,409.00,489.00,804.00,492.00,12.00
48,54.00,WV,West Virginia,0.00,0.00,0.00,49.00,38.00,13.00,34.00,...,235.00,256.00,274.00,291.00,280.00,255.00,301.00,357.00,315.00,27.00
49,55.00,WI,Wisconsin,0.00,0.00,44.00,311.00,288.00,164.00,166.00,...,333.00,293.00,342.00,378.00,325.00,365.00,459.00,570.00,415.00,11.00
50,56.00,WY,Wyoming,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,28.00,35.00,40.00,40.00,29.00,30.00,53.00,48.00,34.00,0.00
51,60.00,AS,American Samoa,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
52,66.00,GU,Guam,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
53,69.00,MP,Northern Mariana Islands,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
54,72.00,PR,Puerto Rico,0.00,0.00,22.00,78.00,35.00,16.00,91.00,...,471.00,475.00,479.00,528.00,455.00,439.00,448.00,566.00,463.00,20.00
55,74.00,UM,U.S. Minor Outlying Islands,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
56,78.00,VI,U.S. Virgin Islands,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

## Step 2: Update state-level data file

In [40]:
# read existing data
slData = pd.read_csv('../Pandemic/state_level_data.csv')

# read state-level dictionary
slDict = pd.read_csv('../Pandemic/state_data_dictionary.csv')

In [41]:
# find indices of state-level cases & deaths variables
rows = slDict.index[slDict['link'] == 'https://data.cdc.gov/NCHS/Provisional-COVID-19-Deaths-by-Place-of-Death-and-/uggs-hy5q'].tolist()
# get the range of indices
cols = []
for i in range(len(rows)):
    cols = cols + list(range(slDict.loc[rows[i],'start_column'] - 1,\
                             slDict.loc[rows[i], 'end_column']))
# double-check if consecutive
print(cols[0])
print(cols[-1])
cols == list(range(cols[0], cols[-1] + 1))
# if true, good to proceed: insert this deaths data to assigned location

# CAUTION: since the column number starts from 1, which is different from python's starting column index as 0,
#          need to minus one for the starting column to get the real column index. The end column index is good
#          as python doesn't include the higher bound anyway.

108
329

True

In [42]:
# split state-level data into two trunks: 
# (1) before the start of previous provisional death data
# (2) after the end of cases & deaths data
df0 = slData.iloc[:, :(cols[0])]
df2 = slData.iloc[:, (cols[-1] + 1):]

In [43]:
# columns before target for replacement (double checke to ensure no wrong indexing)
df0.columns

Index(['stname', 'stabbr', 'stfips', 'apm_cases_total_2018',
       'apm_cases_hispanic_2018', 'apm_cases_nhwhite_2018',
       'apm_cases_nhblack_2018', 'apm_cases_nhasian_2018',
       'apm_cases_totalDeathBy_20200609', 'apm_cases_totalDeathBy_20200623',
       ...
       'apm_cases_asianDeath_20201027', 'apm_cases_asianDeath_20201110',
       'apm_cases_asianDeath_20201124', 'apm_cases_asianDeath_20201208',
       'apm_cases_asianDeath_20201222', 'apm_cases_asianDeath_20210105',
       'apm_cases_asianDeath_20210119', 'apm_cases_asianDeath_20210202',
       'apm_cases_asianDeath_20210216', 'apm_cases_asianDeath_20210302'],
      dtype='object', length=108)

In [44]:
# target for replacement (double checke to ensure no wrong indexing)
slData.iloc[:, cols[0]:(cols[-1] + 1)].columns

Index(['cdc_death_covid_202001', 'cdc_death_covid_202002',
       'cdc_death_covid_202003', 'cdc_death_covid_202004',
       'cdc_death_covid_202005', 'cdc_death_covid_202006',
       'cdc_death_covid_202007', 'cdc_death_covid_202008',
       'cdc_death_covid_202009', 'cdc_death_covid_202010',
       ...
       'cdc_death_cpf_202204', 'cdc_death_cpf_202205', 'cdc_death_cpf_202206',
       'cdc_death_cpf_202207', 'cdc_death_cpf_202208', 'cdc_death_cpf_202209',
       'cdc_death_cpf_202210', 'cdc_death_cpf_202211', 'cdc_death_cpf_202212',
       'cdc_death_cpf_202301'],
      dtype='object', length=222)

In [45]:
# columns after target for replacement (double checke to ensure no wrong indexing)
df2.columns

Index(['medical_covidtracking_positive_20200113',
       'medical_covidtracking_positive_20200114',
       'medical_covidtracking_positive_20200115',
       'medical_covidtracking_positive_20200116',
       'medical_covidtracking_positive_20200117',
       'medical_covidtracking_positive_20200118',
       'medical_covidtracking_positive_20200119',
       'medical_covidtracking_positive_20200120',
       'medical_covidtracking_positive_20200121',
       'medical_covidtracking_positive_20200122',
       ...
       'apm_vac_latino_20210503', 'apm_vac_latino_20210517',
       'apm_vac_indig_20210405', 'apm_vac_indig_20210419',
       'apm_vac_indig_20210503', 'apm_vac_indig_20210517',
       'apm_vac_other_20210405', 'apm_vac_other_20210419',
       'apm_vac_other_20210503', 'apm_vac_other_20210517'],
      dtype='object', length=11750)

In [46]:
# merge provisional deaths data with the first half
df1 = df0.merge(tdf, on = ['stfips', 'stabbr', 'stname'], how = 'left')
# concatenate df0 and df1 on columns
fnl = pd.concat([df1, df2], axis = 1)

In [47]:
# output updated data
fnl.to_csv('../Pandemic/state_level_data.csv', index = False)

## Step 3: Update state-level dictionary

In [48]:
# update dictionary
fdct = get_dict(fnl, slDict)

0
Single column for this item...
1
Single column for this item...
2
Single column for this item...
3
Single column for this item...
4
Single column for this item...
5
Single column for this item...
6
Single column for this item...
7
Single column for this item...
8
Multiple columns for this item...
9
Multiple columns for this item...
10
Multiple columns for this item...
11
Multiple columns for this item...
12
Multiple columns for this item...
13
Multiple columns for this item...
14
Multiple columns for this item...
15
Multiple columns for this item...
16
Multiple columns for this item...
17
Multiple columns for this item...
18
Multiple columns for this item...
19
Multiple columns for this item...
20
Multiple columns for this item...
21
Multiple columns for this item...
22
Multiple columns for this item...
23
Multiple columns for this item...
24
Multiple columns for this item...
25
Multiple columns for this item...
26
Multiple columns for this item...
27
Multiple columns for this item...
28
Multiple columns for this item...
29
Multiple columns for this item...
30
Multiple columns for this item...
31
Multiple columns for this item...
32
Multiple columns for this item...
33
Multiple columns for this item...
34
Multiple columns for this item...
35
Multiple columns for this item...
36
Multiple columns for this item...
37
Multiple columns for this item...
38
Multiple columns for this item...
39
Multiple columns for this item...
40
Multiple columns for this item...
41
Multiple columns for this item...
42
Multiple columns for this item...
43
Single column for this item...
44
Single column for this item...
45
Single column for this item...
46
Single column for this item...
47
Single column for this item...
48
Single column for this item...
49
Single column for this item...
50
Single column for this item...
51
Single column for this item...
52
Single column for this item...
53
Single column for this item...
54
Single column for this item...
55
Single column for this item...
56
Single column for this item...
57
Single column for this item...
58
Single column for this item...
59
Single column for this item...
60
Single column for this item...
61
Single column for this item...
62
Single column for this item...
63
Single column for this item...
64
Single column for this item...
65
Single column for this item...
66
Single column for this item...
67
Single column for this item...
68
Single column for this item...
69
Single column for this item...
70
Single column for this item...
71
Single column for this item...
72
Single column for this item...
73
Single column for this item...
74
Single column for this item...
75
Single column for this item...
76
Single column for this item...
77
Single column for this item...
78
Single column for this item...
79
Single column for this item...
80
Single column for this item...
81
Single column for this item...
82
Single column for this item...
83
Single column for this item...
84
Single column for this item...
85
Single column for this item...
86
Single column for this item...
87
Single column for this item...
88
Single column for this item...
89
Single column for this item...
90
Single column for this item...
91
Single column for this item...
92
Single column for this item...
93
Single column for this item...
94
Single column for this item...
95
Single column for this item...
96
Single column for this item...
97
Single column for this item...
98
Single column for this item...
99
Single column for this item...
100
Single column for this item...
101
Single column for this item...
102
Single column for this item...
103
Single column for this item...
104
Single column for this item...
105
Single column for this item...
106
Single column for this item...
107
Single column for this item...
108
Single column for this item...
109
Single column for this item...
110
Single column for this item...
111
Single column for this item...
112
Single column for this item...
113
Single column for this item...
114
Single column for this item...
115
Single column for this item...
116
Single column for this item...
117
Single column for this item...
118
Single column for this item...
119
Single column for this item...
120
Single column for this item...
121
Single column for this item...
122
Multiple columns for this item...
123
Multiple columns for this item...
124
Multiple columns for this item...
125
Multiple columns for this item...
126
Single column for this item...
127
Single column for this item...
128
Single column for this item...
129
Single column for this item...
130
Single column for this item...
131
Single column for this item...
132
Single column for this item...
133
Multiple columns for this item...
134
Multiple columns for this item...
135
Multiple columns for this item...
136
Multiple columns for this item...
137
Multiple columns for this item...
138
Multiple columns for this item...
139
Multiple columns for this item...

In [49]:
fdct

,variable_name,label,field,source,link,start_column,end_column,start_date,end_date,filename_in_release4,footnote
0,stname,State name,state identifier,Census,https://www2.census.gov/geo/docs/reference/state.txt,1,1,-1,-1,NaN,NaN
1,stabbr,State abbreviation,state identifier,Census,https://www2.census.gov/geo/docs/reference/state.txt,2,2,-1,-1,NaN,NaN
2,stfips,State FIPS code,state identifier,Census,https://www2.census.gov/geo/docs/reference/state.txt,3,3,-1,-1,NaN,NaN
3,apm_cases_total_2018,Total population in 2018,cases and deaths,APM,https://www.apmresearchlab.org/covid/deaths-by-race,4,4,-1,-1,ApmColorOfCoronavirus.csv,NaN
4,apm_cases_hispanic_2018,Hispanic pooulation in 2018,cases and deaths,APM,https://www.apmresearchlab.org/covid/deaths-by-race,5,5,-1,-1,ApmColorOfCoronavirus.csv,NaN
...,...,...,...,...,...,...,...,...,...,...,...
135,apm_vac_white_yyyymmdd,Number of White persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-by-race,12067,12070,20210405,20210517,NaN,NaN
136,apm_vac_asian_yyyymmdd,Number of Asian persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-by-race,12071,12074,20210405,20210517,NaN,NaN
137,apm_vac_latino_yyyymmdd,Number of Latino persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-by-race,12075,12078,20210405,20210517,NaN,NaN
138,apm_vac_indig_yyyymmdd,Number of Indigenous persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-by-race,12079,12082,20210405,20210517,NaN,NaN
139,apm_vac_other_yyyymmdd,Number of other race/ethnicity persons vaccinated,vaccination,APM,https://www.apmresearchlab.org/covid/vaccines-by-race,12083,12086,20210405,20210517,NaN,NaN

In [50]:
# output updated dictionary
fdct.to_csv('../Pandemic/state_data_dictionary.csv', index = False)